flows.json
[{"id":"78ef8095.d9bcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46c55a21.35d9e4","type":"tab","label":"Dark Sky","disabled":false,"info":""},{"id":"82f39153.9ec86","type":"tab","label":"Twillo","disabled":false,"info":""},{"id":"4ea51b15.d8bf94","type":"tab","label":"Alerts","disabled":false,"info":""},{"id":"48cd7f09.ee596","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"bcdd2775.ada368","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"5dc94354.54f8cc","type":"tab","label":"UX","disabled":false,"info":""},{"id":"5e2f737f.18a00c","type":"tab","label":"TTN","disabled":false,"info":""},{"id":"9cc3ab3e.ae7238","type":"tab","label":"LoRa Codec","disabled":false,"info":""},{"id":"4af6b510.e9214c","type":"tab","label":"RainMachine","disabled":false,"info":""},{"id":"a034bcec.635ed","type":"tab","label":"Dynamic DNS","disabled":false,"info":""},{"id":"3b90c3a3.69ed5c","type":"tab","label":"Ecobee3","disabled":true,"info":""},{"id":"cd3c38ad.62d838","type":"tab","label":"OAUTH2","disabled":true,"info":""},{"id":"8e1da8f1.d43388","type":"tab","label":"WIP","disabled":false,"info":""},{"id":"88439d97.3c155","type":"ui_group","z":"","name":"Wind Speed","tab":"497fb781.f8e618","order":7,"disp":true,"width":"6"},{"id":"cec71b91.6394d8","type":"ui_group","z":"","name":"OAT","tab":"497fb781.f8e618","order":6,"disp":true,"width":"6"},{"id":"4719da03.f3e504","type":"ui_group","z":"","name":"Storms","tab":"497fb781.f8e618","order":8,"disp":true,"width":"6"},{"id":"497fb781.f8e618","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","order":2},{"id":"89cf790f.c857d8","type":"mqtt-broker","z":"","name":"pines","broker":"10.0.0.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c041d9a.5d62b28","type":"twilio-api","z":"","name":"","sid":"ACb5560ae67b6de2b941d932b088d01798","from":"952 333 4253"},{"id":"11a81929.b4d697","type":"mqtt-broker","z":"","name":"zwave","broker":"10.0.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc5cdd84.0552e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b6e788f6.6f6d98","type":"mongodb","z":"","hostname":"10.0.0.10","port":"27017","db":"ecobee","name":"Ecobee3"},{"id":"e6ce6d19.034bc","type":"ui_group","z":"","name":"HVAC","tab":"d5fc970b.d4b8f8","order":1,"disp":true,"width":"6"},{"id":"d5fc970b.d4b8f8","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","order":3},{"id":"9f6e0959.1a67b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"edgewoods","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e49e055c.34deb8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"zwave","name":"","usetls":false,"tls":""},{"id":"3c3ad490.598fbc","type":"influxdb","z":"48cd7f09.ee596","hostname":"10.0.0.10","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"19681f84.7fdbf","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"ecobee","name":"","usetls":false,"tls":""},{"id":"c81ab5da.c8be38","type":"influxdb","z":"","hostname":"10.0.0.10","port":"8086","protocol":"http","database":"mbox","name":"","usetls":false,"tls":""},{"id":"92506e86.b3083","type":"mongodb","z":"","hostname":"10.0.0.10","port":"27017","db":"lora","name":""},{"id":"2d25acef.b18fb4","type":"ttn app","z":"","appId":"edgewood-radiobridge","accessKey":"ttn-account-v2.cDmAEd8FveRbmzMDEt9-sz2SBZcNrLuUOJtQE9yZl64","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"cd7ca8e4.44edc8","type":"ui_tab","z":"","name":"Input","icon":"ux","order":4,"disabled":false,"hidden":false},{"id":"6c64bce.37b9644","type":"ui_group","z":"","name":"Default","tab":"cd7ca8e4.44edc8","disp":true,"width":"6","collapse":false},{"id":"c4d5781f.1b2858","type":"tls-config","z":"","name":"defaultTLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"c07e0605.1a2bc8","type":"influxdb","z":null,"hostname":"10.0.0.10","port":"8086","protocol":"http","database":"darksky","name":"","usetls":false,"tls":"c4d5781f.1b2858"},{"id":"adfac952.f56f88","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"LoRaWAN","name":"","usetls":false,"tls":"c4d5781f.1b2858"},{"id":"2936ae8a.3b77b2","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"2d77783a.254d48","type":"influxdb","z":"","hostname":"10.0.0.10","port":"8086","protocol":"http","database":"fail2ban","name":"","usetls":false,"tls":"2936ae8a.3b77b2"},{"id":"7616ab25.4bc8b4","type":"ttn app","z":"","appId":"edgewood-multitech","accessKey":"ttn-account-v2.XqKqGX_dzoujfM1MtSZy1OuILWDumeL5oz649VEy_0A","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"44e18a3f.bc0784","type":"ui_tab","z":"","name":"LoRa","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"18920e55.b1da32","type":"ui_group","z":"","name":"GPS Survey","tab":"44e18a3f.bc0784","disp":true,"width":"6","collapse":false},{"id":"41643c3a.edc894","type":"ui_group","z":"","name":"LoRa Demo","tab":"44e18a3f.bc0784","disp":true,"width":"6","collapse":false},{"id":"4b315826.435be8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"irrigation","name":"","usetls":false,"tls":"2936ae8a.3b77b2"},{"id":"875b531a.95092","type":"http request","z":"46c55a21.35d9e4","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":510,"y":200,"wires":[["8d2fe6e9.3cef38","b9d5c6f.3772a38","62315359.fce43c","5c7dffd.34c61","d9387c3b.4c3cc"]]},{"id":"48d9b90a.1ece88","type":"function","z":"46c55a21.35d9e4","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":327.99999237060547,"y":200.4443483352661,"wires":[["875b531a.95092"]]},{"id":"b1932cfc.71af4","type":"inject","z":"46c55a21.35d9e4","name":"Every Hour","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"3600","crontab":"","once":false,"x":138.55555725097656,"y":201.55563640594482,"wires":[["48d9b90a.1ece88"]]},{"id":"8d2fe6e9.3cef38","type":"function","z":"46c55a21.35d9e4","name":"Weather Icons","func":"summaryicon = msg.payload.currently.icon;\nminuteicon = msg.payload.minutely.icon;\nhouricon = msg.payload.hourly.icon;\ndailyicon = msg.payload.daily.icon;\n\n//Summary Icons\n\nvar summaryMSG={ \n    payload: summaryicon\n};\nvar minuteMSG={\n    payload: minuteicon\n};\nvar hourMSG={\n    payload: houricon\n};\nvar dailyMSG={\n    payload: dailyicon\n};\n\nreturn [ [ summaryMSG, minuteMSG, hourMSG, dailyMSG ] ];\n\n","outputs":"1","noerr":0,"x":768.5556030273438,"y":476.0000457763672,"wires":[[]]},{"id":"b9d5c6f.3772a38","type":"function","z":"46c55a21.35d9e4","name":"Weather Summary","func":"summary = msg.payload.currently.summary;\nminute = msg.payload.minutely.summary;\nhour = msg.payload.hourly.summary;\ndaily = msg.payload.daily.summary;\n\n//Descriptions\n\n\nvar weatherMSG={ \n    payload: {'Currently': + summary}\n};\n\nreturn weatherMSG;\n\n\n/*\n    payload: {'Currently': +summary, 'Hourly': +hour, 'Daily': +daily}\n\n\nvar summarydescMSG={ \n    payload: summary\n};\n\nvar minutedescMSG={\n    payload: minute\n};\nvar hourdescMSG={\n    payload: hour\n};\nvar dailydescMSG={\n    payload: daily\n};\n\nreturn [ [summarydescMSG, minutedescMSG, hourdescMSG, dailydescMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":778.5556030273438,"y":523.0000457763672,"wires":[[]]},{"id":"c503e287.9d32d","type":"comment","z":"46c55a21.35d9e4","name":"Broadcast Hourly Weather Status","info":"","x":172.72227478027344,"y":124.3333797454834,"wires":[]},{"id":"62315359.fce43c","type":"function","z":"46c55a21.35d9e4","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\nvar sunset = msg.payload.daily.data.sunsetTime;\nvar dailyicon = msg.payload.daily.data;\nmsg.payload = {};\nmsg.payload.temp= temp;\nmsg.payload.feelslike = feelslike;\nmsg.payload.sunset = sunset;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":748.5556030273438,"y":563.0000457763672,"wires":[[]]},{"id":"8f5d4e51.4ffac","type":"debug","z":"46c55a21.35d9e4","name":"","active":true,"console":"false","complete":"true","x":899.9841842651367,"y":116.00004529953003,"wires":[]},{"id":"2aac4390.55a3dc","type":"debug","z":"46c55a21.35d9e4","name":"","active":false,"console":"false","complete":"true","x":910,"y":420,"wires":[]},{"id":"aeab9817.06e2d8","type":"ui_chart","z":"46c55a21.35d9e4","name":"Wind Speed","group":"88439d97.3c155","order":0,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"604800","cutout":0,"outputs":2,"x":930,"y":300,"wires":[[],[]]},{"id":"63bf69d0.0e2188","type":"ui_chart","z":"46c55a21.35d9e4","name":"OAT Chart","group":"cec71b91.6394d8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"outputs":2,"x":930,"y":260,"wires":[[],[]]},{"id":"3ab79ff0.0b59a","type":"ui_text","z":"46c55a21.35d9e4","group":"cec71b91.6394d8","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current OAT","format":"{{msg.payload}}","layout":"row-center","x":920,"y":220,"wires":[]},{"id":"c16d7b31.09d5b8","type":"ui_text","z":"46c55a21.35d9e4","group":"88439d97.3c155","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current Wind Speed","format":"{{msg.payload}}","layout":"row-center","x":920,"y":340,"wires":[]},{"id":"5c7dffd.34c61","type":"debug","z":"46c55a21.35d9e4","name":"","active":false,"console":"false","complete":"true","x":654.2698974609375,"y":140.28575897216797,"wires":[]},{"id":"d9387c3b.4c3cc","type":"function","z":"46c55a21.35d9e4","name":"","func":"//BDB Code to consume DarkSky Weather Reports\ntime = msg.payload.currently.time;\nsummary = msg.payload.currently.summary;\nicon = msg.payload.currently.icon;\nnearestStormDistance = msg.payload.currently.nearestStormDistance;\nnearestStormBearing = msg.payload.currently.nearestStormBearing;\nprecipIntensity = msg.payload.currently.precipIntensity;\nprecipProbability = msg.payload.currently.precipProbability;\ntemperature = msg.payload.currently.temperature;\napparentTemperature = msg.payload.currently.apparentTemperature;\ndewPoint = msg.payload.currently.dewPoint;\nhumidity = msg.payload.currently.humidity;\npressure = msg.payload.currently.pressure;\nwindSpeed = msg.payload.currently.windSpeed;\nwindGust = msg.payload.currently.windGust;\nwindBearing = msg.payload.currently.windBearing;\ncloudCover = msg.payload.currently.cloudCover;\nuvIndex = msg.payload.currently.uvIndex;\nvisibility = msg.payload.currently.visibility;\nozone = msg.payload.currently.ozone;\nsunSet = msg.payload.daily.data.sunsetTime;\n\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntimestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar darkSkyMsg = {\n    topic: \"darkSky\", \n    payload: { \n    summary: summary, \n    icon: icon, \n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    pressure: pressure,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    cloudCover: cloudCover,\n    sunSet: sunSet,\n    uvIndex: uvIndex,\n    visibility: visibility,\n    ozone: ozone,\n    time: time,\n    timestamp: timestamp}\n};\n\nvar tempMsg = {\n    topic: \"darkSky/temp\",\n    payload: temperature,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    timestamp: timestamp\n};\n\nvar windMsg = {\n    topic: \"darkSky/wind\",\n    payload: windSpeed,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    timestamp: timestamp\n};\n\nvar stormMsg = {\n    topic: \"darkSky/storm\",\n    payload: nearestStormDistance,\n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    cloudCover: cloudCover,\n    //visibility: visbility,\n};\n\nreturn [ [darkSkyMsg], [tempMsg], [windMsg], [stormMsg]];\n","outputs":"4","noerr":0,"x":718.5556030273438,"y":236.0000457763672,"wires":[["8f5d4e51.4ffac","2f4e89ad.3fdb26"],["63bf69d0.0e2188","3ab79ff0.0b59a"],["aeab9817.06e2d8","c16d7b31.09d5b8"],["2aac4390.55a3dc","20411dfa.5d5fc2"]]},{"id":"20411dfa.5d5fc2","type":"ui_text","z":"46c55a21.35d9e4","group":"4719da03.f3e504","order":0,"width":0,"height":0,"name":"nearestStormDistance","label":"Storm Distance","format":"{{msg.payload}}","layout":"row-center","x":960,"y":380,"wires":[]},{"id":"2f4e89ad.3fdb26","type":"mqtt out","z":"46c55a21.35d9e4","name":"","topic":"darksky","qos":"","retain":"","broker":"89cf790f.c857d8","x":920,"y":40,"wires":[]},{"id":"ee43004.c8638","type":"twilio out","z":"82f39153.9ec86","twilio":"c041d9a.5d62b28","twilioType":"sms","url":"","number":"6124142744","name":"","x":350,"y":140,"wires":[]},{"id":"37bd862c.f6a11a","type":"inject","z":"82f39153.9ec86","name":"","topic":"","payload":"test...1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["ee43004.c8638"]]},{"id":"834f3574.a9f0b8","type":"mqtt in","z":"4ea51b15.d8bf94","name":"","topic":"zwave/#","qos":"2","broker":"11a81929.b4d697","x":160,"y":160,"wires":[["f95e46f4.7f3c68"]]},{"id":"2d7f6a.beff5096","type":"debug","z":"4ea51b15.d8bf94","name":"zwave/update/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":80,"wires":[]},{"id":"f95e46f4.7f3c68","type":"json","z":"4ea51b15.d8bf94","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["1a7a71af.4c0bbe"]]},{"id":"c5075079.23237","type":"inject","z":"3b90c3a3.69ed5c","name":"Refresh Thermostat Data","topic":"","payload":"Refresh Thermostat Variables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":640,"wires":[["9ba28437.967fd8"]]},{"id":"44c7def1.f8e4e","type":"function","z":"3b90c3a3.69ed5c","name":"Get ecobeePin Token","func":"// Insert your Ecobee API Key into the following variable:\ncontext.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n// Insert your Ecobee API key into the above variable.\n\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/authorize?response_type=ecobeePin&client_id=\"+context.global.EcobeeClientID+\"&scope=smartWrite\",\n \"method\": \"GET\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":298.3690643310547,"y":126.21428489685059,"wires":[["4399fd8a.b4f6f4"]]},{"id":"c3a22885.022bc8","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"true","complete":"payload","x":878.3690032958984,"y":125.96428489685059,"wires":[]},{"id":"4399fd8a.b4f6f4","type":"http request","z":"3b90c3a3.69ed5c","name":"","method":"use","ret":"obj","url":"","x":505.3690643310547,"y":126.46428489685059,"wires":[["23f85cf6.5a8ce4"]]},{"id":"9ba28437.967fd8","type":"function","z":"3b90c3a3.69ed5c","name":"Get Thermostats","func":"rtoken = global.get('ecobeeRefToken');\natoken = global.get('ecobeeAccToken');\n\nif (rtoken!==\"\")\n\n//if (context.global.EcobeeRefreshtoken!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.ecobee.com/1/thermostat?format=json&body=%7B%22selection%22%3A%7B%22includeAlerts%22%3A%22false%22%2C%22selectionType%22%3A%22registered%22%2C%22selectionMatch%22%3A%22%22%2C%22includeEvents%22%3A%22false%22%2C%22includeSettings%22%3A%22false%22%2C%22includeRuntime%22%3A%22true%22%2C%22includeSensors%22%3A%22true%22%7D%7D\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n //\"Authorization\":\"Bearer \"+context.global.EcobeeAccessToken,\n \"Authorization\":\"Bearer \"+atoken,\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["480efd21.23c244"]]},{"id":"480efd21.23c244","type":"http request","z":"3b90c3a3.69ed5c","name":"Get Thermostat Request","method":"use","ret":"obj","url":"","x":710,"y":640,"wires":[["162caed3.460041","9edf46ac.54ef88"]]},{"id":"cb374231.6b6e8","type":"inject","z":"3b90c3a3.69ed5c","name":"Refresh token every 30 minutes","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":190,"y":400,"wires":[["31b1c365.dec9ec"]]},{"id":"31b1c365.dec9ec","type":"function","z":"3b90c3a3.69ed5c","name":"Refresh Token","func":"\n//context.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\nglobal.set('EcobeeClientID',\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\");\n\nvar ecobeeid = \"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\nvar reftoken = global.get(\"ecobeeRefToken\");\nvar acctoken = global.get(\"ecobeeAccToken\");\n\n\n\n//context.global.EcobeeRefreshToken=\"\";\nvar newMsg ={\n// \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+context.global.EcobeeRefreshToken+\"&client_id=\"+context.global.EcobeeClientID+\"\",\n  \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+reftoken+\"&client_id=\"+ecobeeid+\"\",\n \"method\": \"POST\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["3bd46d83.694ec2"]]},{"id":"3bd46d83.694ec2","type":"http request","z":"3b90c3a3.69ed5c","name":"","method":"use","ret":"obj","url":"","x":610,"y":400,"wires":[["f66bfe74.8e07b","5ca6a0b1.0248d"]]},{"id":"6cc7fccd.d7e624","type":"function","z":"3b90c3a3.69ed5c","name":"Define Access and Refresh Token vars","func":"context.global.EcobeeAccessToken = msg.payload.access_token;\ncontext.global.EcobeeRefreshToken = msg.payload.refresh_token;\n\nglobal.set('ecobeeRefToken', msg.payload.refresh_token);\nglobal.set('ecobeeAccToken', msg.payload.access_token);\nglobal.set('ecobeeExpiresIn', msg.payload.expires_in);\n\nmsg = { payload:{\n access_token:context.global.EcobeeAccessToken,\n refresh_token:context.global.EcobeeRefreshToken,\n token_expires: msg.payload.expires_in,\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":420,"wires":[["1342b489.8ed9eb"]]},{"id":"1342b489.8ed9eb","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":420,"wires":[]},{"id":"26cd58b3.699108","type":"comment","z":"3b90c3a3.69ed5c","name":"Step #3 - Refresh Token Flow a few times for good measure.","info":"This flow will refresh your token every time the input button is pressed.\n\nGlobal variables set -- EcobeeAccessToken and EcobeeRefreshToken","x":254.5357208251953,"y":352.49207496643066,"wires":[]},{"id":"f98f4198.07df9","type":"comment","z":"3b90c3a3.69ed5c","name":"Step #4 - Get Thermostat Data","info":"Get thermostat data","x":172.6388931274414,"y":603.0277919769287,"wires":[]},{"id":"ba2abaa.b617848","type":"http response","z":"3b90c3a3.69ed5c","name":"","x":478.75,"y":1091.4444217681885,"wires":[]},{"id":"5e456559.73a78c","type":"function","z":"3b90c3a3.69ed5c","name":"Throw Ecobee Data","func":"if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FreeboardAuthTocken){\n msg.payload.thermostats=context.global.EcobeeThermostats;\n msg.payload.sensors=context.global.EcobeeSensors;\n msg.res.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n //msg.payload=\"Not Authorized\";\n msg.res.send(\"403\",\"Forbidden\");\n return;\n}\n\n//return msg;","outputs":1,"noerr":0,"x":307.75,"y":1091.4444217681885,"wires":[["ba2abaa.b617848"]]},{"id":"142fe684.7bd539","type":"http in","z":"3b90c3a3.69ed5c","name":"Get Ecobee Data","url":"/getEcobeeData","method":"get","x":112.75,"y":1091.4444217681885,"wires":[["5e456559.73a78c"]]},{"id":"411a1417.a04bdc","type":"inject","z":"3b90c3a3.69ed5c","name":"Step 1","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":123.36906051635742,"y":125.71428489685059,"wires":[["44c7def1.f8e4e"]]},{"id":"d546ed01.11234","type":"comment","z":"3b90c3a3.69ed5c","name":"Step #1 - Requesting the 4-digit ecobeePin - Log in to Ecobee.com and go to your \"My Apps\" before clicking the Inject node.","info":"The ecobeePin must be entered into your \"My Apps\" in Ecobee.com within 10 minutes.","x":465.3690643310547,"y":55.71428680419922,"wires":[]},{"id":"9251ea0c.886018","type":"function","z":"3b90c3a3.69ed5c","name":"Get Authorization Token","func":"var newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=ecobeePin&code=\"+context.global.EcobeeAccessToken+\"&client_id=\"+context.global.EcobeeClientID,\n \"method\": \"POST\",\n headers: {\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":320.3690643310547,"y":236.7142848968506,"wires":[["af9987f7.a41c18"]]},{"id":"c6619d03.2711a","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":690,"y":280,"wires":[]},{"id":"af9987f7.a41c18","type":"http request","z":"3b90c3a3.69ed5c","name":"","method":"use","ret":"obj","url":"","x":522.3690338134766,"y":236.9642848968506,"wires":[["c6619d03.2711a","e4ce64f8.2441e8"]]},{"id":"f6deb53e.565778","type":"comment","z":"3b90c3a3.69ed5c","name":"Step #2 - Requesting the first access token - you must run Step 2 within 10 minutes of running Step 1.","info":"Now that the app has been added to your \"My Apps\" - we need to request our first access token.","x":389.59129333496094,"y":201.214280128479,"wires":[]},{"id":"23f85cf6.5a8ce4","type":"function","z":"3b90c3a3.69ed5c","name":"Save access code","func":"context.global.EcobeeAccessToken = msg.payload.code;\nvar msg = {\"payload\":\"Ecobee Pin: \"+msg.payload.ecobeePin};\nreturn msg;","outputs":1,"noerr":0,"x":694.3690032958984,"y":125.71428489685059,"wires":[["c3a22885.022bc8"]]},{"id":"7c9bc553.fdf03c","type":"file","z":"3b90c3a3.69ed5c","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1680,"y":120,"wires":[[]]},{"id":"41c0483e.063c18","type":"file in","z":"3b90c3a3.69ed5c","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":281.3055648803711,"y":1176.4444026947021,"wires":[["5c6c0278.ad363c"]]},{"id":"3cf89604.09130a","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"console":"true","complete":"payload","x":887.3055038452148,"y":1176.1110591888428,"wires":[]},{"id":"10e5a2dc.a99f3d","type":"inject","z":"3b90c3a3.69ed5c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.3055648803711,"y":1176.4444026947021,"wires":[["41c0483e.063c18"]]},{"id":"f106e5ba.4687e8","type":"function","z":"3b90c3a3.69ed5c","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":650.3055038452148,"y":1176.4444026947021,"wires":[["3cf89604.09130a"]]},{"id":"69cc4510.f5192c","type":"file","z":"3b90c3a3.69ed5c","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1680,"y":200,"wires":[[]]},{"id":"e4ce64f8.2441e8","type":"function","z":"3b90c3a3.69ed5c","name":"Define Access and Refresh Tokens","func":"//context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n//context.global.EcoBeeAccessToken = msg.payload.access_token;\n\nvar ecobeeAccToken = msg.payload.access_token;\nvar ecobeeRefToken = msg.payload.refresh_token;\nvar ecobeeExpiresIn = msg.payload.expires_in\n\nglobal.set('ecobeeAccToken', msg.payload.access_token);\nglobal.set('ecobeeRefToken', msg.payload.refresh_token);\nglobal.set('ecobeeExpiresIn', msg.payload.expires_in);\n\nmsg = { \n    payload: {\n        ecobeeAccToken: ecobeeAccToken,\n        ecobeeRefToken: ecobeeRefToken,\n        ecobeeExpiresIn: ecobeeExpiresIn,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":778.3690643310547,"y":236.7142848968506,"wires":[["28e7c54c.a25c6a"]]},{"id":"28e7c54c.a25c6a","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1009.3690032958984,"y":236.7142848968506,"wires":[]},{"id":"f66bfe74.8e07b","type":"switch","z":"3b90c3a3.69ed5c","name":"Refresh Token","property":"payload.refresh_token","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":780,"y":400,"wires":[["c717192.c186ee8"],["6cc7fccd.d7e624"]]},{"id":"6546e178.30238","type":"comment","z":"3b90c3a3.69ed5c","name":"This flow will extract the Access and Refresh tokens from the log file and put them in the global context variables.","info":"","x":414.9721908569336,"y":1140.1110591888428,"wires":[]},{"id":"2a266572.ec418a","type":"comment","z":"3b90c3a3.69ed5c","name":"You will have 2 minutes to enter the 4-digit pin into Ecobee.com and authorize the application. (Ecobee disgards the 4-pin code after 10 minutes!)","info":"","x":531.6190643310547,"y":90.71428489685059,"wires":[]},{"id":"4a4e860b.11fcd8","type":"comment","z":"3b90c3a3.69ed5c","name":"Display Ecobee Data to Freeboard","info":"","x":165,"y":1054.4444217681885,"wires":[]},{"id":"5c6c0278.ad363c","type":"json","z":"3b90c3a3.69ed5c","name":"","x":433.5555648803711,"y":1176.4444026947021,"wires":[["f106e5ba.4687e8"]]},{"id":"c717192.c186ee8","type":"function","z":"3b90c3a3.69ed5c","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n global.set('ecobeeRefToken', msg.payload.refresh_token)\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\n\nnode.log(\"ecobee token refresh failed: \"+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":380,"wires":[["92cb5db1.32793"]]},{"id":"7373f6a5.b38988","type":"inject","z":"3b90c3a3.69ed5c","name":"Step 2","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":118.61906433105469,"y":236.7142848968506,"wires":[["9251ea0c.886018"]]},{"id":"162caed3.460041","type":"function","z":"3b90c3a3.69ed5c","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar ecobeeMsg = {\n    topic: \"ecobee\",\n    payload: {\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime, \n    }\n}\n\nvar tempMsg={\n    payload: currentTemp,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nvar rhMsg={\n    payload: currentHumidity,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\n\nreturn [ [ecobeeMsg], [tempMsg], [rhMsg] ];\n\n\n","outputs":"3","noerr":0,"x":980,"y":640,"wires":[["53696e67.96bdc"],["1f49f4b.004630b"],["8a5a73a5.c784c"]]},{"id":"109620ec.81fe3f","type":"mongodb in","z":"3b90c3a3.69ed5c","mongodb":"b6e788f6.6f6d98","name":"","collection":"temp","operation":"find","x":1500,"y":940,"wires":[["c6e0b523.52b3a8","21119123.2039de"]]},{"id":"8b158d1b.d2eb6","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"false","complete":"true","x":1850,"y":1000,"wires":[]},{"id":"1a67df04.ae1641","type":"inject","z":"3b90c3a3.69ed5c","name":"","topic":"","payload":"\"db.temp.find()\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":1100,"y":920,"wires":[["6775b7ec.a7e4d8","32a6ad41.fb3ac2"]]},{"id":"6775b7ec.a7e4d8","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"true","complete":"true","x":1270,"y":900,"wires":[]},{"id":"f7faed15.d97be","type":"function","z":"3b90c3a3.69ed5c","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1870,"y":920,"wires":[["fdf3ff47.b08b2"]]},{"id":"65caf9eb.260bd8","type":"function","z":"3b90c3a3.69ed5c","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/RH\", payload: rhvalue, timestamp: time, humidity: rhvalue};}\nelse {\nreturn {topic:\"Ecobee3/RH\", payload:\"Humidity go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1870,"y":880,"wires":[["fdf3ff47.b08b2"]]},{"id":"32a6ad41.fb3ac2","type":"function","z":"3b90c3a3.69ed5c","name":"Query Temp","func":"var TempQuery={\n    payload: \"db.temp.find()\",\n    limit: 1000,\n    skip: 0,\n};\nreturn TempQuery;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1290,"y":940,"wires":[["109620ec.81fe3f"]]},{"id":"c6e0b523.52b3a8","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"console":"false","complete":"true","x":1690,"y":880,"wires":[]},{"id":"cf041276.b5dbf","type":"inject","z":"3b90c3a3.69ed5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1120,"y":1020,"wires":[["7f357eee.24857"]]},{"id":"7f357eee.24857","type":"function","z":"3b90c3a3.69ed5c","name":"Query Temp","func":"var TempQuery1={\n    payload: \"db.temp.find({ payload: 65.4})\",\n    limit: 1,\n    skip: 0,\n};\nreturn TempQuery1;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1290,"y":1020,"wires":[["109620ec.81fe3f"]]},{"id":"21119123.2039de","type":"bigsplitter","z":"3b90c3a3.69ed5c","name":"","property":"payload","x":1700,"y":940,"wires":[["f7faed15.d97be","59062f0c.6f581","65caf9eb.260bd8"],["8b158d1b.d2eb6"]]},{"id":"fdf3ff47.b08b2","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"false","complete":"true","x":2030,"y":920,"wires":[]},{"id":"59062f0c.6f581","type":"function","z":"3b90c3a3.69ed5c","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1870,"y":960,"wires":[[]]},{"id":"1f49f4b.004630b","type":"ui_chart","z":"3b90c3a3.69ed5c","name":"Main Temp","group":"e6ce6d19.034bc","order":1,"width":0,"height":0,"label":"Ecobee3 Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":1210,"y":640,"wires":[["152bd33d.f5c86d"],[]]},{"id":"8a5a73a5.c784c","type":"ui_chart","z":"3b90c3a3.69ed5c","name":"Ecobee 3 RH","group":"e6ce6d19.034bc","order":3,"width":0,"height":0,"label":"Ecobee 3 RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":1210,"y":680,"wires":[["152bd33d.f5c86d"],[]]},{"id":"152bd33d.f5c86d","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"console":"false","complete":"true","x":1390,"y":640,"wires":[]},{"id":"5f820982.884b38","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"false","complete":"true","x":1550,"y":600,"wires":[]},{"id":"92cb5db1.32793","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":380,"wires":[]},{"id":"1a7a71af.4c0bbe","type":"switch","z":"4ea51b15.d8bf94","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"zwave/update/","vt":"str"},{"t":"eq","v":"zwave/temp/#","vt":"str"},{"t":"eq","v":"zwave/notification/#","vt":"str"},{"t":"eq","v":"zwave/event","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":160,"wires":[["2d7f6a.beff5096"],["f2d90ac2.0ead28"],["1afec086.5ae4ef"],["d21901ab.d91dd"],["b101708.37ee69"]]},{"id":"b101708.37ee69","type":"debug","z":"4ea51b15.d8bf94","name":"otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":240,"wires":[]},{"id":"98c99713.af2878","type":"cepAggr","z":"4ea51b15.d8bf94","filters":[],"property":"payload","windowType":"count","windowParam":0,"fieldsList":[{}],"aggrOpList":[{}],"x":630,"y":440,"wires":[[]]},{"id":"f2d90ac2.0ead28","type":"debug","z":"4ea51b15.d8bf94","name":"zwave/temp/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":120,"wires":[]},{"id":"8cb4ac6.aef8f5","type":"mqtt in","z":"4ea51b15.d8bf94","name":"","topic":"darksky","qos":"2","broker":"89cf790f.c857d8","x":150,"y":360,"wires":[["87f96fd.596c69"]]},{"id":"dd26764e.8b7008","type":"debug","z":"4ea51b15.d8bf94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":360,"wires":[]},{"id":"62d8e36f.08915c","type":"find-my-iphone","z":"4ea51b15.d8bf94","x":340,"y":520,"wires":[["e8901d54.137f5"]]},{"id":"23b6d939.6c7116","type":"inject","z":"4ea51b15.d8bf94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["62d8e36f.08915c"]]},{"id":"e8901d54.137f5","type":"debug","z":"4ea51b15.d8bf94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":520,"wires":[]},{"id":"9edf46ac.54ef88","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"console":"false","complete":"true","x":950,"y":580,"wires":[]},{"id":"87f96fd.596c69","type":"json","z":"4ea51b15.d8bf94","name":"","property":"payload","action":"","pretty":false,"x":270,"y":360,"wires":[["dd26764e.8b7008"]]},{"id":"754f79c8.6a7608","type":"exec","z":"3b90c3a3.69ed5c","command":"pwd","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":1360,"wires":[["8d9185e1.b51728"],[],[]]},{"id":"8d9185e1.b51728","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":true,"console":"true","complete":"true","x":450,"y":1320,"wires":[]},{"id":"8a5d1ce5.7cdbf","type":"inject","z":"3b90c3a3.69ed5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1360,"wires":[["754f79c8.6a7608"]]},{"id":"d21901ab.d91dd","type":"debug","z":"4ea51b15.d8bf94","name":"zwave/event/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":200,"wires":[]},{"id":"1afec086.5ae4ef","type":"debug","z":"4ea51b15.d8bf94","name":"zwave/notification/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":160,"wires":[]},{"id":"4029c112.5c9ed","type":"debug","z":"9cc3ab3e.ae7238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":400,"wires":[]},{"id":"1965fa88.4c46d5","type":"function","z":"9cc3ab3e.ae7238","name":"elsys-lora.io","func":"/**\n \n\tIn this editor, you can define your custom javascript code to parse the incoming data.\t\n\t\n\tThe following variables are available:\n\t\n\tdata     : hex string of the data\n\tp\t     : array of bytes represented as string of 2 hex digits \n\tv        : array of bytes represented as integers\n\tmsg.EUI  : device EUI\n\tmsg.fcnt : message frame counter\n\tmsg.port : message port field\n\tmsg.ts   : message timestamp as number (epoch)\n\t\n\tLast line of your script will be printed to the data payload column.\n \n*/\n/*\n  ______ _       _______     _______ \n |  ____| |     / ____\\ \\   / / ____|\n | |__  | |    | (___  \\ \\_/ / (___  \n |  __| | |     \\___ \\  \\   / \\___ \\ \n | |____| |____ ____) |  | |  ____) |\n |______|______|_____/   |_| |_____/ \n \n  ELSYS simple payload decoder. \n  Use it as it is or remove the bugs :)\n  www.elsys.se\n  peter@elsys.se\n*/\nconst TYPE_TEMP    \t=0x01; //temp 2 bytes -3276.8°C -->3276.7°C\nconst TYPE_RH\t\t=0x02; //Humidity 1 byte  0-100%\nconst TYPE_ACC\t\t=0x03; //acceleration 3 bytes X,Y,Z -128 --> 127 +/-63=1G\nconst TYPE_LIGHT\t=0x04; //Light 2 bytes 0-->65535 Lux\nconst TYPE_MOTION\t=0x05; //No of motion 1 byte  0-255\nconst TYPE_CO2\t\t=0x06; //Co2 2 bytes 0-65535 ppm \nconst TYPE_VDD\t\t=0x07; //VDD 2byte 0-65535mV\nconst TYPE_ANALOG1  =0x08; //VDD 2byte 0-65535mV\nconst TYPE_GPS      =0x09; //3bytes lat 3bytes long binary\nconst TYPE_PULSE1   =0x0A; //2bytes relative pulse count\n \nfunction bin16dec(bin) {\n    var num=bin&0xFFFF;\n    if (0x8000 & num)\n        num = - (0x010000 - num);\n    return num;\n}\nfunction bin8dec(bin) {\n    var num=bin&0xFF;\n    if (0x80 & num) \n        num = - (0x0100 - num);\n    return num;\n}\nfunction hexToBytes(hex) {\n    for (var bytes = [], c = 0; c < hex.length; c += 2)\n        bytes.push(parseInt(hex.substr(c, 2), 16));\n    return bytes;\n}\n \nfunction DecodeElsysPayload(data){\n    var obj ={};\n    for(i=0;i<data.length;i++){\n        switch(data[i]){\n            case TYPE_TEMP: //Temperature\n                var temp=(data[i+1]<<8)|(data[i+2]);\n                temp=bin16dec(temp);\n                obj.temperature=temp;\n                i+=2;\n            break;\n            case TYPE_RH: //Humidity\n                var rh=(data[i+1]);\n                obj.humidity=rh;\n                i+=1;\n            break;\n            case TYPE_ACC: //Acceleration\n                obj.x=bin8dec(data[i+1]);\n                obj.y=bin8dec(data[i+2]);\n                obj.z=bin8dec(data[i+3]);\n                i+=3;\n            break;\n            case TYPE_LIGHT: //Light\n                var light=(data[i+1]<<8)|(data[i+2]);\n                obj.light=light;\n                i+=2;\n            break;\n            case TYPE_MOTION: //Motion sensor(PIR)\n                var motion=(data[i+1]);\n                obj.motion=motion;\n                i+=1;\n            break;\n            case TYPE_CO2: //CO2\n                var co2=(data[i+1]<<8)|(data[i+2]);\n                obj.co2=co2;\n                i+=2;\n            break;\n            case TYPE_VDD: //Battery level\n                var vdd=(data[i+1]<<8)|(data[i+2]);\n                obj.vdd=vdd;\n                i+=2;\n            break;\n            case TYPE_ANALOG1: //Analog input 1\n                var analog1=(data[i+1]<<8)|(data[i+2]);\n                obj.analog1=analog1;\n                i+=2;\n            break;\n            case TYPE_GPS: //gps\n                obj.lat=(data[i+1]<<16)|(data[i+2]<<8)|(data[i+3]);\n                obj.long=(data[i+4]<<16)|(data[i+5]<<8)|(data[i+6]);\n                i+=6;\n            break;\n            case TYPE_PULSE1: //Pulse input 1\n                var pulse1=(data[i+1]<<8)|(data[i+2]);\n                obj.pulse1=pulse1;\n                i+=2;\n            break;\n        }\n    }\n    return {payload: obj};\n}\n//var res=DecodeElsysPayload(hexToBytes(data));\n//var json=JSON.stringify(res,null,4);\n//json;\n\n//return {payload: json};","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"ae0057ee.ea8158","type":"function","z":"9cc3ab3e.ae7238","name":"Test Elsys","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n    [{\n        numValue: temp/10.0,\n        time: new Date(msg.metadata.server_time).getTime()\n    },\n    {\n        tag1:\"temp\",\n        sensor:node\n    }],\n    [{\n        numValue: hum/10.0,\n        time: new Date(msg.metadata.server_time).getTime()\n    },\n    {\n        tag1:\"hum\",\n        sensor:node\n    }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[[]]},{"id":"f916969c.edaa38","type":"mqtt in","z":"9cc3ab3e.ae7238","name":"","topic":"lorabytes","qos":"2","broker":"89cf790f.c857d8","x":440,"y":400,"wires":[["4029c112.5c9ed"]]},{"id":"ee86e973.318078","type":"mqtt out","z":"3b90c3a3.69ed5c","name":"","topic":"","qos":"","retain":"","broker":"89cf790f.c857d8","x":1550,"y":520,"wires":[]},{"id":"e9258dfd.82ce3","type":"mqtt in","z":"9cc3ab3e.ae7238","name":"","topic":"gateway/#","qos":"2","broker":"89cf790f.c857d8","x":210,"y":600,"wires":[["59908a8d.c869c4"]]},{"id":"f625f5e3.16ff08","type":"debug","z":"9cc3ab3e.ae7238","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":600,"wires":[]},{"id":"59908a8d.c869c4","type":"json","z":"9cc3ab3e.ae7238","name":"","property":"payload","action":"","pretty":false,"x":350,"y":600,"wires":[["f625f5e3.16ff08"]]},{"id":"d9b83eec.40745","type":"mqtt in","z":"9cc3ab3e.ae7238","name":"","topic":"application/#","qos":"2","broker":"89cf790f.c857d8","x":180,"y":500,"wires":[["911567a4.d9cc28"]]},{"id":"9a980835.c760d8","type":"debug","z":"9cc3ab3e.ae7238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":500,"wires":[]},{"id":"911567a4.d9cc28","type":"json","z":"9cc3ab3e.ae7238","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["9a980835.c760d8"]]},{"id":"69a016c4.f15948","type":"mqtt in","z":"9cc3ab3e.ae7238","name":"","topic":"application/2/device/008000000000fa94/rx","qos":"2","broker":"89cf790f.c857d8","x":310,"y":780,"wires":[["39e1f772.ba35b8"]]},{"id":"2140cbb4.ca4c54","type":"debug","z":"9cc3ab3e.ae7238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":780,"wires":[]},{"id":"95e2d9ba.6e5e88","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"e49e055c.34deb8","name":"","measurement":"","precision":"","retentionPolicy":"","x":1860,"y":1280,"wires":[]},{"id":"b4e56a00.d95f88","type":"influxdb in","z":"48cd7f09.ee596","influxdb":"3c3ad490.598fbc","name":"time query","query":"select * from test;","rawOutput":false,"precision":"","retentionPolicy":"","x":1810,"y":1420,"wires":[["2f588cf1.e6b0b4"]]},{"id":"e336c984.7f9e58","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1659,"y":1420,"wires":[["b4e56a00.d95f88"]]},{"id":"2f588cf1.e6b0b4","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"console":"false","complete":"false","x":1992,"y":1420,"wires":[]},{"id":"8bb40e90.28a77","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"3c3ad490.598fbc","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2050,"y":1580,"wires":[]},{"id":"ac96b211.482dc","type":"function","z":"48cd7f09.ee596","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":1580,"wires":[["8bb40e90.28a77"]]},{"id":"cc8affd7.8416e","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1700,"y":1580,"wires":[["ac96b211.482dc"]]},{"id":"53696e67.96bdc","type":"simpletime","z":"3b90c3a3.69ed5c","name":"","x":1210,"y":580,"wires":[["a5a55f08.1ae9b"]]},{"id":"752c65d6.2a4a9c","type":"function","z":"3b90c3a3.69ed5c","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar ecobeeMsg = {\n    topic: \"ecobee\",\n    payload: {\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime, \n    }\n}\n\nvar tempMsg={\n    payload: currentTemp,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nvar rhMsg={\n    payload: currentHumidity,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\n\nreturn [ [ecobeeMsg], [tempMsg], [rhMsg] ];\n\n\n","outputs":"3","noerr":0,"x":980,"y":720,"wires":[[],[],[]]},{"id":"a5a55f08.1ae9b","type":"change","z":"3b90c3a3.69ed5c","name":"add epoch","rules":[{"t":"set","p":"payload.epoch","pt":"msg","to":"myepoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":580,"wires":[["5f820982.884b38","ee86e973.318078"]]},{"id":"89f5aab3.6ffa68","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"19681f84.7fdbf","name":"ecobee influxdb","measurement":"mainfloor","precision":"","retentionPolicy":"","x":660,"y":240,"wires":[]},{"id":"7d5686a2.8f73a8","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"ecobee","qos":"2","datatype":"auto","broker":"89cf790f.c857d8","x":170,"y":240,"wires":[["c9014e99.488c6"]]},{"id":"f8df4c18.ff553","type":"debug","z":"48cd7f09.ee596","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":180,"wires":[]},{"id":"c9014e99.488c6","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":290,"y":240,"wires":[["f65c8b50.7e1178"]]},{"id":"310bd90d.edaae6","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1660,"y":1780,"wires":[["7606eccb.073b44"]]},{"id":"7606eccb.073b44","type":"function","z":"48cd7f09.ee596","name":"simple query","func":"msg.query=\"select * from test;\";\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":1780,"wires":[["147f66a7.d06289"]]},{"id":"147f66a7.d06289","type":"influxdb in","z":"48cd7f09.ee596","influxdb":"3c3ad490.598fbc","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1983,"y":1780,"wires":[["fb8f9333.f0c13"]]},{"id":"fb8f9333.f0c13","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"console":"false","complete":"false","x":2141,"y":1780,"wires":[]},{"id":"ce49fc43.a4b22","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1700,"y":2000,"wires":[["1c1db454.9b662c"]]},{"id":"1c1db454.9b662c","type":"function","z":"48cd7f09.ee596","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":1848,"y":2000,"wires":[["427b2721.1b9108"]]},{"id":"427b2721.1b9108","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"3c3ad490.598fbc","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2018,"y":2000,"wires":[]},{"id":"f65c8b50.7e1178","type":"change","z":"48cd7f09.ee596","name":"","rules":[{"t":"delete","p":"payload.epoch","pt":"msg"},{"t":"delete","p":"payload.timestamp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["f8df4c18.ff553","89f5aab3.6ffa68"]]},{"id":"682681b8.9ac94","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1680,"y":2120,"wires":[["fae0a6c9.3ae558"]]},{"id":"fae0a6c9.3ae558","type":"function","z":"48cd7f09.ee596","name":"Fields and Tags","func":"msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1851,"y":2120,"wires":[["d63ee647.b0ffa8"]]},{"id":"f1da53c.a8787b","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"3c3ad490.598fbc","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2110,"y":2120,"wires":[]},{"id":"d63ee647.b0ffa8","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2010,"y":2180,"wires":[]},{"id":"7be81146.1a952","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"zwave/cov","qos":"2","broker":"89cf790f.c857d8","x":180,"y":500,"wires":[["5fc5bfe4.c6766"]]},{"id":"5fc5bfe4.c6766","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["e320f55a.95dc88"]]},{"id":"dede03f6.08a0a","type":"comment","z":"48cd7f09.ee596","name":"Ecobee Thermostat","info":"","x":210,"y":140,"wires":[]},{"id":"39e1f772.ba35b8","type":"json","z":"9cc3ab3e.ae7238","name":"","property":"payload","action":"","pretty":false,"x":570,"y":780,"wires":[["2140cbb4.ca4c54"]]},{"id":"e865081e.ccb908","type":"mqtt in","z":"48cd7f09.ee596","name":"008000000000fa94","topic":"application/2/device/008000000000fa94/rx","qos":"2","broker":"89cf790f.c857d8","x":1170,"y":200,"wires":[["11269782.32d988"]]},{"id":"11269782.32d988","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":200,"wires":[["2d2b69d0.d1ab36"]]},{"id":"dbf2f045.8634","type":"comment","z":"48cd7f09.ee596","name":"Multitech MBox","info":"","x":1160,"y":140,"wires":[]},{"id":"2d2b69d0.d1ab36","type":"function","z":"48cd7f09.ee596","name":"","func":"lux = msg.payload.object.lux;\nmoisture = msg.payload.object.moisture;\ntemp = msg.payload.object.temp_f;\nx_acc = msg.payload.object.x_acc;\ny_acc = msg.payload.object.y_acc;\nz_acc = msg.payload.object.z_acc;\n\nreturn { payload: {\n    lux: lux,\n    moisture: moisture,\n    temp: temp,\n    x_acc: x_acc,\n    y_acc: y_acc,\n    z_acc: z_acc,\n    }\n}\n\n/*\nreturn { payload: [{\n    lux: lux,\n    moisture: moisture,\n    temp: temp,\n    x_acc: x_acc,\n    y_acc: y_acc,\n    z_acc: z_acc,\n    },{\n    tag1: \"008000000000fa94\",\n    }]\n}\n*/\n","outputs":1,"noerr":0,"x":1450,"y":200,"wires":[["ac590cb5.5583a"]]},{"id":"ac590cb5.5583a","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"c81ab5da.c8be38","name":"008000000000fa94","measurement":"008000000000fa94","precision":"","retentionPolicy":"","x":1610,"y":200,"wires":[]},{"id":"26a9bb50.909384","type":"change","z":"48cd7f09.ee596","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"msg.payload.label","tot":"jsonata"},{"t":"delete","p":"payload.value","pt":"msg"},{"t":"delete","p":"payload.cmdclass","pt":"msg"},{"t":"delete","p":"payload.cmdidx","pt":"msg"},{"t":"delete","p":"payload.instance","pt":"msg"},{"t":"set","p":"payload.currState","pt":"msg","to":"$number(payload.currState)","tot":"jsonata"},{"t":"set","p":"payload.oldState","pt":"msg","to":"$number(payload.oldState)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":600,"wires":[["da32f812.6b8878"]]},{"id":"68b517c5.231578","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"e49e055c.34deb8","name":"","measurement":"","precision":"","retentionPolicy":"","x":1300,"y":700,"wires":[]},{"id":"e320f55a.95dc88","type":"switch","z":"48cd7f09.ee596","name":"","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Relative Humidity","vt":"str"},{"t":"eq","v":"Battery Level","vt":"str"},{"t":"eq","v":"Alarm Level","vt":"str"},{"t":"eq","v":"Alarm Type","vt":"str"},{"t":"eq","v":"Switch","vt":"str"},{"t":"eq","v":"Level","vt":"str"},{"t":"eq","v":"Luminance","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":470,"y":500,"wires":[["5ca4ae5c.8387c"],["3030b978.1a0b76"],["212ff95.59e0706"],["8ee94319.6e157"],["f9bc60ea.95781"],["3d47b0ae.238bb"],["da954b60.526d18"],["c71db7b9.764528"],["abc1cb9b.740d58"]]},{"id":"3030b978.1a0b76","type":"change","z":"48cd7f09.ee596","name":"RH","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"RH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["26a9bb50.909384"]]},{"id":"da32f812.6b8878","type":"function","z":"48cd7f09.ee596","name":"Add Tag","func":"nodeid = msg.payload.nodeid;\noldState = msg.payload.oldState;\ncurrState = msg.payload.currState;\n\n//Fix Alarm Type label\nlabel = msg.payload.label;\nunits = msg.payload.units;\nuuid = msg.payload.uuid;\n\n\nmsg.payload = [{\n    oldState: oldState,\n    currState: currState,\n    label: label,\n    units: units,\n    uuid: uuid\n},\n{\n    nodeid: nodeid\n}];\n\nmsg.measurement = label\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":600,"wires":[["1a912094.aed4ff","68b517c5.231578"]]},{"id":"c12d7c56.9d628","type":"mqtt in","z":"bcdd2775.ada368","name":"","topic":"zwave/cov","qos":"2","broker":"89cf790f.c857d8","x":120,"y":120,"wires":[["8ef60d2c.44139"]]},{"id":"8ef60d2c.44139","type":"json","z":"bcdd2775.ada368","name":"","property":"payload","action":"","pretty":false,"x":280,"y":120,"wires":[["dd83b724.d43f68"]]},{"id":"dd83b724.d43f68","type":"mongodb out","z":"bcdd2775.ada368","mongodb":"92506e86.b3083","name":"","collection":"multisensor","payonly":false,"upsert":false,"multi":false,"operation":"store","x":520,"y":120,"wires":[]},{"id":"1a912094.aed4ff","type":"debug","z":"48cd7f09.ee596","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":560,"wires":[]},{"id":"85b70c85.c63a6","type":"mongodb in","z":"48cd7f09.ee596","mongodb":"92506e86.b3083","name":"","collection":"multisensor","operation":"find","x":380,"y":1200,"wires":[["85c29c.100a3d68"]]},{"id":"c8baa0af.70cb7","type":"inject","z":"48cd7f09.ee596","name":"","topic":"","payload":"\"select * from multisensor\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["85b70c85.c63a6"]]},{"id":"85c29c.100a3d68","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1200,"wires":[]},{"id":"212ff95.59e0706","type":"change","z":"48cd7f09.ee596","name":"Battery","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Battery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["26a9bb50.909384"]]},{"id":"8ee94319.6e157","type":"change","z":"48cd7f09.ee596","name":"Alarm","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":460,"wires":[["26a9bb50.909384"]]},{"id":"f9bc60ea.95781","type":"change","z":"48cd7f09.ee596","name":"Alarm","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"AlarmType","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["26a9bb50.909384"]]},{"id":"2ac8a8bc.109908","type":"comment","z":"48cd7f09.ee596","name":"Zwave Sensors","info":"","x":200,"y":360,"wires":[]},{"id":"f05fe646.662f58","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"zwave/notification","qos":"2","broker":"11a81929.b4d697","x":150,"y":800,"wires":[["9ba80a82.e2aa08"]]},{"id":"9ba80a82.e2aa08","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["5a814393.15606c"]]},{"id":"3d47b0ae.238bb","type":"change","z":"48cd7f09.ee596","name":"Switch","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":540,"wires":[["26a9bb50.909384"]]},{"id":"aef14a10.8e5538","type":"change","z":"48cd7f09.ee596","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"msg.payload.label","tot":"jsonata"},{"t":"delete","p":"payload.help","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["c14234a0.fed588"]]},{"id":"5a814393.15606c","type":"switch","z":"48cd7f09.ee596","name":"","property":"payload.help","propertyType":"msg","rules":[{"t":"eq","v":"Notification - Node Awake","vt":"str"},{"t":"eq","v":"Notification - Node Asleep","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":800,"wires":[["4e7fa374.d1220c"],["362e5c46.6b3f34"],[]]},{"id":"4e7fa374.d1220c","type":"change","z":"48cd7f09.ee596","name":"Awake","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"NodeStatus","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload.value","pt":"msg","to":"Awake","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":780,"wires":[["aef14a10.8e5538"]]},{"id":"362e5c46.6b3f34","type":"change","z":"48cd7f09.ee596","name":"Asleep","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"NodeStatus","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload.value","pt":"msg","to":"Asleep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":820,"wires":[["aef14a10.8e5538"]]},{"id":"a70c2bbf.14c528","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":840,"wires":[]},{"id":"c14234a0.fed588","type":"function","z":"48cd7f09.ee596","name":"Add Tag","func":"nodeid = msg.payload.nodeid;\nnotification = msg.payload.notification;\nlabel = msg.payload.label;\nuuid = msg.payload.uuid;\nstatus = msg.payload.status;\nvalue = msg.payload.value;\n\nmsg.payload = [{\n    status: status,\n    notification: notification,\n    label: label,\n    uuid: uuid\n},\n{\n    nodeid: nodeid,\n    value: value,\n\n}];\n\nmsg.measurement = label\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":800,"wires":[["68b517c5.231578","a70c2bbf.14c528"]]},{"id":"abc1cb9b.740d58","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":660,"wires":[]},{"id":"da954b60.526d18","type":"change","z":"48cd7f09.ee596","name":"Level","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["26a9bb50.909384"]]},{"id":"5ca4ae5c.8387c","type":"change","z":"48cd7f09.ee596","name":"Temperature","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["26a9bb50.909384"]]},{"id":"7911e9fe.c78da8","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"darkSky","qos":"2","broker":"89cf790f.c857d8","x":1920,"y":200,"wires":[["d81769fb.6c61c8"]]},{"id":"d81769fb.6c61c8","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":2070,"y":200,"wires":[["c39462c5.61d08"]]},{"id":"c39462c5.61d08","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2190,"y":140,"wires":[]},{"id":"c71db7b9.764528","type":"change","z":"48cd7f09.ee596","name":"Lux","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Lux","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["26a9bb50.909384"]]},{"id":"5ca6a0b1.0248d","type":"debug","z":"3b90c3a3.69ed5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":360,"wires":[]},{"id":"ea0db8e3.83b688","type":"function","z":"3b90c3a3.69ed5c","name":"Refresh Token","func":"context.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n\n\n\n\n//context.global.EcobeeRefreshToken=\"\";\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+context.global.EcobeeRefreshToken+\"&client_id=\"+context.global.EcobeeClientID+\"\",\n \"method\": \"POST\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[[]]},{"id":"e85e6ebe.01fc9","type":"ttn event","z":"5e2f737f.18a00c","name":"","app":"2d25acef.b18fb4","dev_id":"","event":"#","x":160,"y":760,"wires":[["30fc4666.2e260a","2d91e902.0ed666"]]},{"id":"30fc4666.2e260a","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":760,"wires":[]},{"id":"1dc9518b.b860be","type":"ttn uplink","z":"5e2f737f.18a00c","name":"","app":"2d25acef.b18fb4","dev_id":"","field":"","x":140,"y":400,"wires":[["f110409e.c386e","35797f6c.20dd4","170bdb50.146675","4da4feae.84c2b","ec7e3082.5644c"]]},{"id":"d07473fa.b270a","type":"debug","z":"5e2f737f.18a00c","name":"otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":480,"wires":[]},{"id":"21d0cbd9.b94db4","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"darksky/#","qos":"2","datatype":"auto","broker":"89cf790f.c857d8","x":150,"y":1380,"wires":[["44098d72.c5baf4"]]},{"id":"dcddda5b.155768","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1340,"wires":[]},{"id":"44098d72.c5baf4","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1380,"wires":[["3fd60f5d.84273"]]},{"id":"e90606e3.bb3558","type":"function","z":"5e2f737f.18a00c","name":"Radio Bridge Codec","func":"//function Decoder(bytes, port) {\n  // Decode an uplink message from a buffer\n  // (array) of bytes to an object of fields.\n//  var decoded = {};\n\n  // if (port === 1) decoded.led = bytes[0];\n\n//  return decoded;\n//}\n\n\n//Decode = function(fPort, bytes) {\n\nfunction Decoder(bytes, port) {\nvar return_object = {};\nvar event_array = [];\nreturn_object.port = port;\nreturn_object.radio_bridge_protocol_version = bytes[0] >> 4; // first nibble is always 0x1 for Radio Bridge as that is the protocol version\nreturn_object.radio_bridge_packet_count = bytes[0] & 0xF; // second nibble is the packet count (should go up by 1 each time an uplink is sent...even if the uplink is sent 6 times it should increment 6 times)\nvar message_type = bytes[1]; // Radio Bridge differentiates sensors and other common messages based on this byte\nreturn_object.message_type = message_type;\n switch(message_type) {\n    case 0x03: {\n if (bytes.length == 3) {\n        var magnet_present_event = {};\n var magnet_sensor_state = Boolean(bytes[2]); // 0x01 means the magnet is NOT present, 0x00 means there IS a magnet\n magnet_present_event.n = \"magnet_present\";\n magnet_present_event.vb = !magnet_sensor_state;\n event_array.push(magnet_present_event);\n }\n break;\n } // end case 0x03 (door/window sensor)\n    case 0x0A: {\n      if (bytes.length == 4) {\n         var tilt_event = {};\n         var tilt_sensor_state = Boolean(bytes[2]); //\n      }\n      break;\n    }\n    case 0x00: { // 0x00 is the reset message (5 bytes)\n         if (bytes.length == 8) {\n         /* Not using right now....should use later\n         var sensor_type_codes = {\n             0x00: \"undefined sensor_type_code\",\n             0x01: \"Door/Window\",\n             0x02: \"Door/Window High Security\",\n             0x03: \"Contact\",\n             0x04: \"Temperature No-Probe\",\n             0x05: \"Temperature External Probe\",\n             0x06: \"Single Push Button\",\n             0x07: \"Dual Push Button\",\n             0x0E: \"Air Temperature and Humidity\",\n              0x0A: \"Tilt Sensor\",\n         };\n         */\n         var reset_event = {};\n         reset_event.n = \"device_reset_event\";\n         reset_event.vd = '' + bytes;\n         /* These are not used right now, but could be used in the future\n         var sensor_type_code = bytes[2];\n         var hardware_version = bytes[3];\n         var firmware_version_major = bytes[4];\n         var firmware_version_minor = bytes[5];\n         var reset_code_major = bytes[6];\n         var reset_code_minor = bytes[7];\n         */\n         event_array.push(reset_event);\n         }\n         break;\n     } // end case 0x00\n     case 0x01: { // 0x01 is the status payload for supervisory messages\n         if (bytes.length == 5) {\n         var supervisory_error_event = {};\n         var supervisory_error_codes = bytes[2];//TODO make enums for this\n         supervisory_error_event.n = \"supervisory_error_codes\";\n         supervisory_error_event.vd = '' + supervisory_error_codes; // TODO make different events for this\n         event_array.push(supervisory_error_event);\n    \n         var supervisory_sensor_state = bytes[3];\n         var supervisory_sensor_state_event = {};\n         supervisory_sensor_state_event.n = \"supervisory_sensor_state\";\n         supervisory_sensor_state_event.v = supervisory_sensor_state; // TODO make different events for this\n         event_array.push(supervisory_sensor_state_event);\n    \n         var battery_event = {};\n         var battery_voltage_integer = bytes[4] >>> 4; // integer is highest 4 bits\n         var battery_voltage_decimal = (bytes[4] & 0x0F)/10; // decimal is lowest 4 bits\n         battery_event.v = battery_voltage_integer + battery_voltage_decimal;\n         battery_event.n = \"battery_voltage\";\n         battery_event.u = \"V\";\n         event_array.push(battery_event);\n         }\n         break;\n     } // end case 0x01\n     case 0x02: { // 0x02 is the status payload for tamper event messages\n         if (bytes.length == 3) {\n         var tamper_switch_event = {};\n         var tamper_switch_closed = Boolean(bytes[2]); // closed means the device is in a secure state. Opened means the case was removed or the sensor was removed from the wall\n         tamper_switch_event.n = \"tamper_switch_closed\";\n         tamper_switch_event.vb = tamper_switch_closed; // 0x00 = tamper switch released, 0x01 = tamper switch pressed\n         event_array.push(tamper_switch_event);\n         }\n         break;\n     } // end case 0x02\n     case 0xfd: { // 0xfd is the test message\n         var magnet_event = {}; \n         magnet_event.n = \"magnet_device_test\";\n         magnet_event.v = bytes[2]; // some sensors have more than one byte for status\n         event_array.push(magnet_event);\n         break;\n     } // end case 0xfd\n     default: {\n         break;\n     } // end default case\n     } // end switch(message_type)\n     if (event_array.length === 0) {\n     var unknown_event = {};\n     unknown_event.n = \"unknown_event\";\n     unknown_event.vd = '' + bytes;\n     event_array.push(unknown_event);\n     }\n     var raw_data_event = {};\n     raw_data_event.n = \"raw_data\";\n     raw_data_event.vd = '' + bytes;\n     event_array.push(raw_data_event);\n     return_object.events = event_array;\n     return return_object;\n};\n    \n    // console.log(Decode(0x02, [20,6,3,0]));\n    // module.exports = Decode;\n","outputs":1,"noerr":0,"x":1900,"y":420,"wires":[[]]},{"id":"2d91e902.0ed666","type":"mongodb out","z":"5e2f737f.18a00c","mongodb":"92506e86.b3083","name":"event mongodb","collection":"event","payonly":false,"upsert":false,"multi":false,"operation":"store","x":360,"y":680,"wires":[]},{"id":"78fb4107.40a52","type":"ui_form","z":"5dc94354.54f8cc","name":"","label":"","group":"6c64bce.37b9644","order":2,"width":0,"height":0,"options":[{"label":"devEUI","value":"input","type":"text","required":true},{"label":"serial","value":"number","type":"number","required":true},{"label":"model","value":"number","type":"text","required":true}],"formValue":{"input":"","number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":120,"wires":[["7dc5e467.0f8b4c"]]},{"id":"7dc5e467.0f8b4c","type":"debug","z":"5dc94354.54f8cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":120,"wires":[]},{"id":"e7acdbc5.3d4b68","type":"inject","z":"a034bcec.635ed","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"21600","crontab":"","once":true,"onceDelay":"60","x":130,"y":140,"wires":[["7f1d1e25.74c5c"]]},{"id":"f1ec96d7.19dc58","type":"function","z":"a034bcec.635ed","name":"","func":"var ip = msg.payload.publicIPv4;\nvar publicIPv4 = flow.get('publicIPv4');\n\nif (ip === publicIPv4) {\n    return [{payload: publicIPv4},null]\n} else {\n    msg.url = \"https://domains.google.com/nic/update?hostname=pines.edgewoods.net&myip=\"+ip;\n    msg.method = \"POST\";\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":550,"y":140,"wires":[["f3ecc8a1.10e918"],["9c884f15.f389e"]]},{"id":"9c884f15.f389e","type":"http request","z":"a034bcec.635ed","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"basic","x":730,"y":200,"wires":[["c1358245.800fc"]]},{"id":"7f1d1e25.74c5c","type":"ip","z":"a034bcec.635ed","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":true,"publicIPv6":false,"x":270,"y":140,"wires":[["625b71b9.850a8"]]},{"id":"c1358245.800fc","type":"debug","z":"a034bcec.635ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":200,"wires":[]},{"id":"625b71b9.850a8","type":"change","z":"a034bcec.635ed","name":"publicIPv4","rules":[{"t":"set","p":"publicIPv4","pt":"flow","to":"payload.publicIPv4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["f1ec96d7.19dc58"]]},{"id":"f3ecc8a1.10e918","type":"debug","z":"a034bcec.635ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"3fd60f5d.84273","type":"function","z":"48cd7f09.ee596","name":"Add Tag","func":"\nvar nearestStormDistance = msg.payload.nearestStormDistance;\nvar nearestStormBearing = msg.payload.nearestStormBearing;\nvar precipIntensity = msg.payload.precipIntensity;\nvar temperature = msg.payload.temperature;\nvar dewPoint = msg.payload.dewPoint;\nvar humidity = msg.payload.humidity;\nvar pressure = msg.payload.pressure;\nvar windSpeed = msg.payload.windSpeed;\nvar windGust = msg.payload.windGust;\nvar windBearing = msg.payload.windBearing;\nvar cloudCover = msg.payload.cloudCover;\nvar uvIndex = msg.payload.uvIndex;\nvar visibility = msg.payload.visibility;\nvar ozone = msg.payload.ozone;\n\nvar label = \"darksky\";\n\nmsg.payload = [{\n        nearestStormDistance: nearestStormDistance,\n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    temperature: temperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    pressure: pressure,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    cloudCover: cloudCover,\n    uvIndex: uvIndex,\n    visibility: visibility, \n    ozone: ozone,\n\n},\n{\n    nearestStormDistance: nearestStormDistance,\n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    temperature: temperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    pressure: pressure,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    cloudCover: cloudCover,\n    uvIndex: uvIndex,\n    visibility: visibility, \n    ozone: ozone,\n \n}];\n\nmsg.measurement = label\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1380,"wires":[["dcddda5b.155768","aaf4f8e.212d708"]]},{"id":"aaf4f8e.212d708","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"c07e0605.1a2bc8","name":"","measurement":"weather","precision":"","retentionPolicy":"","x":670,"y":1380,"wires":[]},{"id":"67b138a6.291458","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"zwave/lux/#","qos":"2","datatype":"auto","broker":"89cf790f.c857d8","x":130,"y":980,"wires":[["a296459f.6d71f8"]]},{"id":"a296459f.6d71f8","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":330,"y":980,"wires":[["1cdc11b4.d9404e"]]},{"id":"1cdc11b4.d9404e","type":"switch","z":"48cd7f09.ee596","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave/lux/main","vt":"str"},{"t":"eq","v":"zwave/lux/basement","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":980,"wires":[[],[],[]]},{"id":"f110409e.c386e","type":"switch","z":"5e2f737f.18a00c","name":"","property":"dev_id","propertyType":"msg","rules":[{"t":"eq","v":"temp-rh-1","vt":"str"},{"t":"eq","v":"temp-rh-fireplace","vt":"str"},{"t":"eq","v":"garage-door-2","vt":"str"},{"t":"eq","v":"temp-rh-master-bedroom","vt":"str"},{"t":"eq","v":"temp-rh-attic-1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":310,"y":400,"wires":[["2c1f9784.7b4148"],["2c1f9784.7b4148"],["57d9eec.6f6ed1"],["2c1f9784.7b4148"],["2c1f9784.7b4148"],["d07473fa.b270a"]]},{"id":"2c1f9784.7b4148","type":"function","z":"5e2f737f.18a00c","name":"","func":"var app_id = msg.app_id;\nvar dev_id = msg.dev_id;\nvar hardware_serial = msg.hardware_serial;\n\nvar temperature_f = msg.payload.events[0].v; //* 9 / 5 + 32;\nvar humidity = msg.payload.events[1].v;\n\nmsg.measurement = 'TempRH'\nmsg.payload = [{\n    temperature_f: temperature_f,\n    humidity: humidity,\n    device_name: dev_id,\n    device_eui: hardware_serial\n},{\n    \n    //app_id: app_id,\n    dev_id: dev_id,\n    hardware_serial: hardware_serial,\n\n}];\n\n\nreturn msg\n\n/* ###TO DO's ###\n\n\nAccount for device reset/tamper switch alerts\n\npayload: object\nevents: array[2]\n0: object\nn: \"device_reset_event\"\nvd: \"16,0,14,32,136,1,112,60\"\n1: object\nn: \"raw_data\"\nvd: \"16,0,14,32,136,1,112,60\"\n\npayload: object\nevents: array[2]\n0: object\nn: \"tamper_switch_closed\"\nvb: true\n1: object\nn: \"raw_data\"\nvd: \"18,2,1\"\n\n\n/*\nmsg.payload = [{\n    oldState: oldState,\n    currState: currState,\n    label: label,\n    units: units,\n    uuid: uuid\n},\n{\n    nodeid: nodeid\n}];\n*/\n\n","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["a6a3d4f7.b236e8","e0675a8f.13add8"]]},{"id":"a6a3d4f7.b236e8","type":"debug","z":"5e2f737f.18a00c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":360,"wires":[]},{"id":"27fb615b.66d34e","type":"ttn downlink","z":"5e2f737f.18a00c","name":"","app":"2d25acef.b18fb4","dev_id":"temp-rh-1","port":"2","confirmed":true,"schedule":"replace","x":1670,"y":140,"wires":[]},{"id":"5355109.d612af","type":"inject","z":"5e2f737f.18a00c","name":"","topic":"","payload":"0d0085111218232d","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1400,"y":140,"wires":[["27fb615b.66d34e"]]},{"id":"85e7454e.cce1a8","type":"debug","z":"5e2f737f.18a00c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":240,"wires":[]},{"id":"35797f6c.20dd4","type":"mongodb out","z":"5e2f737f.18a00c","mongodb":"92506e86.b3083","name":"uplink mongodb","collection":"uplink","payonly":false,"upsert":false,"multi":false,"operation":"store","x":340,"y":120,"wires":[]},{"id":"170bdb50.146675","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":180,"wires":[]},{"id":"20bf1a06.7a9f16","type":"moment","z":"5e2f737f.18a00c","name":"","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"timestamp","outputType":"msg","outTz":"Africa/Abidjan","x":1740,"y":820,"wires":[[]]},{"id":"df5f89d1.f74708","type":"function","z":"5e2f737f.18a00c","name":"Loop Example","func":"var timestamp = \"xxx\";\n\nvar relative_humidity = '';\nvar temperature_cel = '';\nvar battery_life = '';\n\n \n\nvar events = msg.payload.object.events;\nvar events_list = [];\nvar eventsList = [];\n\n \n\nfor (var i = 0 ; i < msg.payload.object.events.length; i++) {\n    events_list.push(msg.payload.object.events[i].n + \",\" + msg.payload.object.events[i].u  + \",\" + msg.payload.object.events[i].v);\n    //eventsList.push(msg.payload.object.events[i].n);\n    //eventsList.push(msg.payload.object.events[i].u);\n    //eventsList.push(msg.payload.object.events[i].v);\n}\n\n \n\nfor (var i = 0 ; i < msg.payload.object.events.length; i++) {\n    if (msg.payload.object.events[i].n === \"temperature\") {\n        var temperature_cel = msg.payload.object.events[i].v;\n\n    }\n    else{\n    if (msg.payload.object.events[i].n === \"relative_humidity\") {\n        var relative_humidity = msg.payload.object.events[i].v;\n    }\n    else {\n    if (msg.payload.object.events[i].n === \"battery_percentage_remaining\") {   \n        var battery_life = msg.payload.object.events[i].v;\n}}}}\n\n \n\nreturn {payload: {events_list: events_list, temperatureC: temperature_cel, rh: relative_humidity, batteryLevel: battery_life, timestamp: timestamp}};","outputs":1,"noerr":0,"x":1860,"y":1080,"wires":[[]]},{"id":"3ca4e587.4b6e3a","type":"function","z":"5e2f737f.18a00c","name":"","func":"var dev_id = ['temp-rh-fireplace', 'temp-rh-1'];\n\n\nfor (var i = 0 ; i < dev_id.length; i++) {\n  var newMsg = {payload: dev_id[i].n};\n  //node.send(newMsg)\n  return(newMsg);\n}\n","outputs":1,"noerr":0,"x":1620,"y":340,"wires":[["a3293250.2fa53"]]},{"id":"b864f2b7.87793","type":"inject","z":"5e2f737f.18a00c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":340,"wires":[["3ca4e587.4b6e3a"]]},{"id":"a3293250.2fa53","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":340,"wires":[]},{"id":"4da4feae.84c2b","type":"function","z":"5e2f737f.18a00c","name":"Loop","func":"let dev_id = msg.dev_id;\nlet hardware_serial = msg.hardware_serial;\nlet app_id = msg.app_id;\nlet counter = msg.counter;\nlet events = msg.payload.events;\nlet influxMsg = {};\n\n\n/*\nTO Do...  when unknown_event is passed through to influxdb, it throws 400 bad request error.\nHow can I filter out using an array of bad events in my if statement most efficeintly?\nmap filter?\n\nlet exclusion_list = ['unknown_event', 'raw_data'];\n*/\ninfluxMsg.measurement = \"radio_bridge\";\n//var influxMsg = [];\n\n//if (msg.payload.object.events[i].n === \"temperature\") {\n\n/*\n122719 bdb - Doing a couple things here intentionally:  \n\n1) Stripping off raw_data packets - Already caputring them in mongodb if needed.  \n2) defining influxdb measurement equal to the name of the event from the codec.\n3) defining events[i].n \n\n*/\n\n\nfor (var i = 0 ; i < events.length; i++) {\n    //if (events[i].n !=[\"raw_data\", \"unknown_event\"] ){\n    //if (events[i].n != \"raw_data\" || events[i].n != \"unknown_event\" ) {\n    if (events[i].n != \"raw_data\") {\n        influxMsg = [{\n            measurement: events[i].n,\n            payload: [{\n            dev_id: dev_id,\n            dev_eui: hardware_serial,\n            msg_counter: counter,\n            n: events[i].n,\n            u: events[i].u,\n            v: events[i].v,\n        },{\n            app_id: app_id,\n            device_id: dev_id,\n            event_name: events[i].n\n        }],}];\n        node.send(influxMsg);\n    } else {}\n}    \n\n","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["85e7454e.cce1a8","e0675a8f.13add8"]]},{"id":"5ca19d64.fbac04","type":"function","z":"5e2f737f.18a00c","name":"dewpoint","func":"/**\n * File dew.js\n * Copyright 2003 Wolfgang Kuehn\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *       http://www.apache.org/licenses/LICENSE-2.0\n */\n\nvar KELVIN = 0;\nvar CELSIUS = 1;\nvar FAHRENHEIT = 2;\n\nvar C_OFFSET = 273.15;\nvar F_C = 9.0/5.0;\n\nvar RELATIVE = 1;\nvar ABSOLUTE = 2;\n\nfunction Temperatures() {\n  this.array = new Array();\n}\n\nTemperatures.prototype.add = function(t) {\n  if (t.value!=null)\n    this.array[this.array.length] = t;\n}\n\nvar temps = new Temperatures();\n\nTemperatures.prototype.syncronize = function() {\n  for (var e in this.array) {\n    var t = this.array[e];\n    if (t.value!=null)\n      t.onChange();\n  }\n}\n\nTemperatures.prototype.setScale = function(scale) {\n  for (var e in this.array)\n    this.array[e].setScale(scale);\n}\n\nfunction Temperature(value, scale, elem) {\n  this.value;\n  this.scale = scale;\n  this.element = elem;\n  this.set(value);\n  temps.add(this);\n}\n\nTemperature.prototype.onChange = function() {\n  var v = stringToFloat(this.element.value);\n  this.set(v);\n}\n\nTemperature.prototype.update = function() {\n  if (this.element!=null)\n    this.element.value = truncate(this.get(),2,ABSOLUTE);\n}\n\nTemperature.prototype.setScale = function(scale) {\n  this.scale = scale;\n  this.update(); \n}\n\nTemperature.prototype.getScale = function() {\n  return this.scale;\n}\n\nTemperature.prototype.getKelvin = function() {\n  return this.value;\n}\n\nTemperature.prototype.setKelvin = function(value) {\n  this.value = value;\n  this.update();\n}\n\nTemperature.prototype.get = function() {\n  var v = this.value;\n  if (this.scale==CELSIUS)\n    v -= C_OFFSET;\n  else if (this.scale==FAHRENHEIT)\n    v = 32+(v-C_OFFSET)*F_C;\n  return v;\n}\n\nTemperature.prototype.set = function(value) {\n  this.value = value;\n  if (this.scale==CELSIUS)\n    this.value += C_OFFSET;\n  else if (this.scale==FAHRENHEIT)\n    this.value = (this.value-32)/F_C+C_OFFSET;\n  this.update();\n}\n\nTemperature.prototype.setElement = function(element) {\n  this.element = element;\n  this.update();\n}\n\nfunction TemperatureChange(value, scale, element) {\n  this.scale = scale;\n  this.element = element;\n  this.set(value);\n  temps.add(this);\n}\n\nTemperatureChange.prototype = new Temperature();\n\nTemperatureChange.prototype.get = function() {\n  var v = this.value;\n  if (this.scale==FAHRENHEIT)\n    v = v*F_C;\n  return v;\n}\n\nTemperatureChange.prototype.set = function(value) {\n  this.value = value;\n  if (this.scale==FAHRENHEIT)\n    this.value = this.value/F_C;\n  this.update();\n}\n\n\nvar minT = 173; // -100 Deg. C.\nvar maxT = 678;\n\n/*\n * Saturation Vapor Pressure formula for range -100..0 Deg. C.\n * This is taken from\n *   ITS-90 Formulations for Vapor Pressure, Frostpoint Temperature,\n *   Dewpoint Temperature, and Enhancement Factors in the Range 100 to +100 C\n * by Bob Hardy\n * as published in \"The Proceedings of the Third International Symposium on Humidity & Moisture\",\n * Teddington, London, England, April 1998\n*/\nvar k0 = -5.8666426e3;\nvar k1 = 2.232870244e1;\nvar k2 = 1.39387003e-2;\nvar k3 = -3.4262402e-5;\nvar k4 = 2.7040955e-8;\nvar k5 = 6.7063522e-1;\n\nfunction pvsIce(T) {\n  lnP = k0/T + k1 + (k2 + (k3 + (k4*T))*T)*T + k5*Math.log(T);\n  return Math.exp(lnP);\n}\n\n/**\n * Saturation Vapor Pressure formula for range 273..678 Deg. K.\n * This is taken from the\n *   Release on the IAPWS Industrial Formulation 1997\n *   for the Thermodynamic Properties of Water and Steam\n * by IAPWS (International Association for the Properties of Water and Steam),\n * Erlangen, Germany, September 1997.\n *\n * This is Equation (30) in Section 8.1 \"The Saturation-Pressure Equation (Basic Equation)\"\n*/\n\nvar n1 = 0.11670521452767e4;\nvar n6 = 0.14915108613530e2;\nvar n2 = -0.72421316703206e6;\nvar n7 = -0.48232657361591e4;\nvar n3 = -0.17073846940092e2;\nvar n8 = 0.40511340542057e6;\nvar n4 = 0.12020824702470e5;\nvar n9 = -0.23855557567849;\nvar n5 = -0.32325550322333e7;\nvar n10 = 0.65017534844798e3;\n\nfunction pvsWater(T) {\n  var th = T+n9/(T-n10);\n  var A = (th+n1)*th+n2;\n  var B = (n3*th+n4)*th+n5;\n  var C = (n6*th+n7)*th+n8;\n\n  var p = 2*C/(-B+Math.sqrt(B*B-4*A*C));\n  p *= p;\n  p *= p;\n  return p*1e6;\n}\n\n/**\n * Compute Saturation Vapor Pressure for minT<T[Deg.K]<maxT.\n */\nfunction PVS(T) {\n  if (T<minT || T>maxT) return NaN;\n  else if (T<C_OFFSET)\n    return pvsIce(T);\n  else\n    return pvsWater(T);\n}\n\n/**\n * Compute dewPoint for given relative humidity RH[%] and temperature T[Deg.K].\n */\nfunction dewPoint(RH,T) {\n  return solve(PVS, RH/100*PVS(T), T);\n}\n\n/**\n * Newton's Method to solve f(x)=y for x with an initial guess of x0.\n */\nfunction solve(f,y,x0) {\n  var x = x0;\n  var maxCount = 10;\n  var count = 0;\n  do {\n    var xNew;\n    var dx = x/1000; \n    var z=f(x);\n    xNew = x + dx*(y-z)/(f(x+dx)-z);\n    if (Math.abs((xNew-x)/xNew)<0.0001) \n      return xNew;\n    else if (count>maxCount) {\n      xnew=NaN; \n      throw new Error(1, \"Solver does not converge.\");\n      break; \n    }\n    x = xNew;\n    count ++;\n  } while (true);\n}\n\nfunction truncate(x, precision, mode) {\n  if (x==0)\n    return 0;\n  var magnitude;\n  if (mode==RELATIVE)\n    magnitude = Math.round(Math.log(Math.abs(x))/Math.LN10);\n  else\n    magnitude = 0;\n  var scale = Math.pow(10,precision-magnitude);\n  return Math.round(x*scale)/scale;\n}\n\nfunction stringToFloat(s) {\n  if (s.search(/^\\s*(\\+|\\-)?\\d*(\\.\\d*)?\\s*$/)==-1)\n    throw new Error(\"'\"+s+\"' is not a valid number\", \"'\"+s+\"' is not a valid number\");\n  return parseFloat(s);\n}\n\nfunction convert () {\n  var scale;\n  if (document.FORM.TScale[1].checked)\n    scale = 1;\n  else if (document.FORM.TScale[2].checked)\n    scale = 2;\n  else\n    scale = 0;\n\n  this.temps.setScale(scale);\n}\n","outputs":1,"noerr":0,"x":1840,"y":1040,"wires":[[]]},{"id":"6fc89afe.2c1aa4","type":"comment","z":"5e2f737f.18a00c","name":"edgewood-radiobridge","info":"","x":160,"y":60,"wires":[]},{"id":"e90d97b4.e00568","type":"inject","z":"5e2f737f.18a00c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3480,"y":340,"wires":[["d27cc0a9.a0a0b"]]},{"id":"d27cc0a9.a0a0b","type":"function","z":"5e2f737f.18a00c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3650,"y":340,"wires":[["d471b1de.2d84e"]]},{"id":"d471b1de.2d84e","type":"http request","z":"5e2f737f.18a00c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":3810,"y":340,"wires":[["58d020be.61d5d"]]},{"id":"58d020be.61d5d","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3990,"y":340,"wires":[]},{"id":"622773dd.ab227c","type":"http response","z":"4ea51b15.d8bf94","name":"","statusCode":"","headers":{},"x":420,"y":700,"wires":[]},{"id":"754f569f.fae1d8","type":"http in","z":"4ea51b15.d8bf94","name":"","url":"/alerts","method":"post","upload":true,"swaggerDoc":"","x":190,"y":720,"wires":[["5e788292.c2e06c","622773dd.ab227c"]]},{"id":"5e788292.c2e06c","type":"debug","z":"4ea51b15.d8bf94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":800,"wires":[]},{"id":"958bc57d.e27e28","type":"comment","z":"cd3c38ad.62d838","name":"Get Bearer Token from Identity 2.0 - Non Prod","info":"","x":210,"y":780,"wires":[]},{"id":"b2017ef4.32b8","type":"function","z":"cd3c38ad.62d838","name":"","func":"msg.url = \"https://oauth.iam.perf.target.com/auth/oauth/v2/token?\";\n//msg.url = \"https://oauth.iam.target.com/auth/oauth/v2/token?\";\nmsg.method = \"POST\"\nmsg.headers = {\n     ['Content-Type']: 'application/x-www-form-urlencoded'\n }\nuser = msg.user;\npassword = msg.password;\nmsg.payload = \"grant_type=password&username=\"+user+\"&password=\"+password+\"&scope=profile%20email%20openid\";  \n\nreturn msg;\n\n/*\nvar newMsg ={\n \"url\":\"https://oauth.iam.perf.target.com/auth/oauth/v2/token?\",\n \"method\": \"POST\",\n headers: {\n     ['Content-Type']: 'application/x-www-form-urlencoded'\n }\n payload: \"grant_type=password&username=smrtmaxawo&password=v.cR!@]cX@#9{tD&scope=profile%20email%20openid\";  \n  \n \n};\n\n\nreturn newMsg;\n\n*/\n","outputs":1,"noerr":0,"x":450,"y":860,"wires":[["3f686ba8.7155e4"]]},{"id":"c07c658.0ed4998","type":"inject","z":"cd3c38ad.62d838","name":"Refresh Token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":860,"wires":[["66f9ddd0.59ef64"]]},{"id":"e0b784bd.820ea8","type":"debug","z":"cd3c38ad.62d838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":860,"wires":[]},{"id":"3f686ba8.7155e4","type":"http request","z":"cd3c38ad.62d838","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"2936ae8a.3b77b2","proxy":"","authType":"basic","x":600,"y":860,"wires":[["5dc22b05.f503a4"]]},{"id":"5bcb8f08.cc545","type":"function","z":"cd3c38ad.62d838","name":"","func":"global.set('stg_access_token', msg.payload.access_token)\nglobal.set('stg_token_expires_in', msg.payload.expires_in)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":860,"wires":[["e0b784bd.820ea8"]]},{"id":"9fc88df7.36eda","type":"inject","z":"cd3c38ad.62d838","name":"Show Token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":920,"wires":[["16f753a6.d16f9c"]]},{"id":"16f753a6.d16f9c","type":"function","z":"cd3c38ad.62d838","name":"","func":"access_token = global.get('stg_access_token');\nexpires_in = global.get('stg_token_expires_in');\nreturn {\npayload: access_token\n};\n","outputs":1,"noerr":0,"x":290,"y":920,"wires":[["cf8baa8d.98d4d8"]]},{"id":"cf8baa8d.98d4d8","type":"debug","z":"cd3c38ad.62d838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":920,"wires":[]},{"id":"9a808a88.5dbdb8","type":"comment","z":"cd3c38ad.62d838","name":"Get Bearer Token from Identity 2.0 - Prod","info":"","x":200,"y":420,"wires":[]},{"id":"2c701ef3.c9b892","type":"function","z":"cd3c38ad.62d838","name":"","func":"//Get Prod OAUTH2 Token\n//msg.url = \"https://oauth.iam.com/auth/oauth/v2/token?\";\n\n//msg.url = \"https://account.thethingsnetwork.org/users/token\";\n//msg.url = \"https://discovery.thethingsnetwork.org\";\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices\"\nmsg.method = \"GET\"\nmsg.headers = {\n     //['Content-Type']: 'application/x-www-form-urlencoded'\n ['Content-Type']: 'application/json',\n ['Authorization']: 'Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0'\n    \n}\nuser = msg.user;\npassword = msg.password;\n//msg.payload = \"grant_type=password&username=\"+user+\"&password=\"+password+\"&scope=profile%20email%20openid\";  \n\n/*msg.payload = {\n  grant_type: 'password',\n  username: user,\n  password: password,\n  /*scope: [\n    'apps:app_id',\n    'gateways:gateway_id',\n    'components:component_id'\n  ]*/\n\n//};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["1d935b8f.a5f314"]]},{"id":"a89e863d.33f3e8","type":"inject","z":"cd3c38ad.62d838","name":"Refresh Token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":500,"wires":[["f1fa869.3966a78"]]},{"id":"726c73ed.92e67c","type":"debug","z":"cd3c38ad.62d838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":600,"wires":[]},{"id":"1d935b8f.a5f314","type":"http request","z":"cd3c38ad.62d838","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"2936ae8a.3b77b2","persist":false,"proxy":"","authType":"","x":620,"y":500,"wires":[["95b744e9.b8d508"]]},{"id":"5d683865.d0e7b8","type":"function","z":"cd3c38ad.62d838","name":"","func":"global.set('prd_access_token', msg.payload.access_token)\nglobal.set('prd_token_expires_in', msg.payload.expires_in)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["726c73ed.92e67c"]]},{"id":"4685000d.b6021","type":"inject","z":"cd3c38ad.62d838","name":"Show Token","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":560,"wires":[["388b1247.93c47e"]]},{"id":"388b1247.93c47e","type":"function","z":"cd3c38ad.62d838","name":"","func":"access_token = global.get('prd_access_token')\nexpires_in = global.get('prd_token_expires_in')\nreturn {\npayload: access_token\n};\n","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["b992fb8f.801a98"]]},{"id":"b992fb8f.801a98","type":"debug","z":"cd3c38ad.62d838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":560,"wires":[]},{"id":"66f9ddd0.59ef64","type":"credentials","z":"cd3c38ad.62d838","name":"","props":[{"value":"user","type":"msg"},{"value":"password","type":"msg"}],"x":310,"y":860,"wires":[["b2017ef4.32b8"]]},{"id":"5dc22b05.f503a4","type":"change","z":"cd3c38ad.62d838","name":"","rules":[{"t":"delete","p":"user","pt":"msg"},{"t":"delete","p":"password","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":860,"wires":[["5bcb8f08.cc545"]]},{"id":"f1fa869.3966a78","type":"credentials","z":"cd3c38ad.62d838","name":"","props":[{"value":"user","type":"msg"},{"value":"password","type":"msg"},{"value":"api_key_prod","type":"global"}],"x":310,"y":500,"wires":[["2c701ef3.c9b892"]]},{"id":"35bf3ecf.8f6a52","type":"change","z":"cd3c38ad.62d838","name":"","rules":[{"t":"delete","p":"user","pt":"msg"},{"t":"delete","p":"password","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":600,"wires":[["5d683865.d0e7b8"]]},{"id":"ac25852d.5df818","type":"http in","z":"cd3c38ad.62d838","name":"","url":"/ttn_callback","method":"post","upload":false,"swaggerDoc":"","x":400,"y":140,"wires":[["130e2e9b.58a251","f21e5cd7.17394"]]},{"id":"f21e5cd7.17394","type":"http response","z":"cd3c38ad.62d838","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"130e2e9b.58a251","type":"debug","z":"cd3c38ad.62d838","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":200,"wires":[]},{"id":"95b744e9.b8d508","type":"debug","z":"cd3c38ad.62d838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":460,"wires":[]},{"id":"22339d49.f334e2","type":"inject","z":"5e2f737f.18a00c","name":"store","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":2010,"y":60,"wires":[["4659519f.85fbc"]]},{"id":"4659519f.85fbc","type":"change","z":"5e2f737f.18a00c","name":"TTN Access Key","rules":[{"t":"set","p":"ttn_access_key","pt":"flow","to":"Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":60,"wires":[[]]},{"id":"ca48764b.e26798","type":"function","z":"5e2f737f.18a00c","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices\"\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0',\n ['Content-Type']: 'application/json',\n}\n//ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0\nreturn msg;","outputs":1,"noerr":0,"x":2200,"y":260,"wires":[["1538bad1.ae7015"]]},{"id":"b7112676.497e08","type":"inject","z":"5e2f737f.18a00c","name":"store","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":2050,"y":260,"wires":[["ca48764b.e26798"]]},{"id":"1538bad1.ae7015","type":"http request","z":"5e2f737f.18a00c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2370,"y":260,"wires":[["1aaa239a.9482dc"]]},{"id":"c34564c3.160d78","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2650,"y":260,"wires":[]},{"id":"1aaa239a.9482dc","type":"json","z":"5e2f737f.18a00c","name":"","property":"payload","action":"","pretty":false,"x":2510,"y":260,"wires":[["c34564c3.160d78"]]},{"id":"84737abb.b42ea8","type":"mqtt in","z":"48cd7f09.ee596","name":"","topic":"fail2ban","qos":"2","datatype":"auto","broker":"89cf790f.c857d8","x":3150,"y":220,"wires":[["bc80b621.27fe48"]]},{"id":"2881a56d.88e45a","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3690,"y":180,"wires":[]},{"id":"bc80b621.27fe48","type":"json","z":"48cd7f09.ee596","name":"","property":"payload","action":"","pretty":false,"x":3270,"y":220,"wires":[["94b0f78b.6779d8"]]},{"id":"7f0f5bd6.9cf604","type":"function","z":"48cd7f09.ee596","name":"","func":"let key = msg.payload.key;\nlet latitude = msg.payload.latitude;\nlet longitude = msg.payload.longitude;\nlet name = msg.payload.name;\nlet geohash = msg.payload.geohash;\n\nlet timezone = msg.payload.timezone;\nlet ip = msg.payload.ip;\nlet region = msg.payload.region;\nlet city = msg.payload.city;\nlet zip = msg.payload.zip;\n\nlet measurement = 'geoloc'\n\n\ninfluxMsg = [{\n    measurement: measurement,\n        payload: [{\n            key: key,\n            latitude: latitude,\n            longitude: longitude,\n            name: name,\n            geohash: geohash,\n            ip_address: ip\n        },{\n        country: key,\n        country_name: name,\n        region: region,\n        ip: ip\n        }],}]\n\n\n\nreturn influxMsg;","outputs":1,"noerr":0,"x":3550,"y":220,"wires":[["2ec191db.6d7a4e","2881a56d.88e45a","dc51f9b3.341348"]]},{"id":"2ec191db.6d7a4e","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"2d77783a.254d48","name":"","measurement":"","precision":"","retentionPolicy":"","x":3750,"y":220,"wires":[]},{"id":"94b0f78b.6779d8","type":"geohash","z":"48cd7f09.ee596","name":"","property":"payload","x":3400,"y":220,"wires":[["7f0f5bd6.9cf604"]]},{"id":"91693e56.9ea0f","type":"comment","z":"48cd7f09.ee596","name":"Fail2Ban","info":"","x":3160,"y":140,"wires":[]},{"id":"dc51f9b3.341348","type":"function","z":"48cd7f09.ee596","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3690,"y":300,"wires":[[]]},{"id":"67fc7a56.2139b4","type":"ttn uplink","z":"5e2f737f.18a00c","name":"","app":"7616ab25.4bc8b4","dev_id":"","field":"","x":140,"y":1200,"wires":[["19bdb513.7ac59b","6cca8818.bd8168","728214e2.95c89c","20c4ec0a.29e6c4"]]},{"id":"e54df2bd.db0b3","type":"function","z":"9cc3ab3e.ae7238","name":"mbox","func":"if ( context.global.evb_info[msg.eui] == null) {\n  context.global.evb_info[msg.eui] = { msg_counter: 0 };\n  \n}\n\nvar evb_info = context.global.evb_info ;\nvar evb_sensors = {};\n\n/*\n * Evaluation board properties.\n */\nvar EVB_TYPE = {\n  none: 0,\n  led_1: 1,\n  led_2: 2,\n  lux_max: 3,\n  lux_min: 4,\n  lux: 5,\n  barometer_max: 6,\n  barometer_min: 7,\n  barometer: 8,\n  temperature_max: 9,\n  temperature__min: 10,\n  temperature: 11,\n  accelerometer_max: 12,\n  accelerometer_min: 13,\n  accelerometer: 14,\n  tx_interval: 15,\n  amps_max: 16,\n  amps_min: 17,\n  amps: 18,\n  m2x_device: 19,\n  m2x_key: 20,\n};\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\nfor (var index = 0; index < msg.payload.length; ) {\n  var type = msg.payload[index++];\n//   var length = msg.payload[index++];\n  var value;\n  console.log(\"type: \" + type + \" length: \" );\n\n  switch (type) {\n  case EVB_TYPE.lux:\n    if (typeof(evb_sensors.light) == \"undefined\") {\n      evb_sensors.light = {};\n    }\n\n    value = msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.24;\n\n    evb_sensors.light.lux = value;\n    break;\n  case EVB_TYPE.barometer:\n    if (typeof(evb_sensors.barometer) == \"undefined\") {\n      evb_sensors.barometer = {};\n    }\n\n    value = msg.payload[index++] << 16;\n    value |= msg.payload[index++] << 8;\n    value |= msg.payload[index++];\n    value = value * 0.00025;\n\n    evb_sensors.barometer.pa = value;\n    break;\n  case EVB_TYPE.accelerometer:\n    if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n    }\n    // evb_sensors.accelerometer.x = (msg.payload[index++] << 24) >> 16;\n    var x1 = evb_sensors.accelerometer.x = msg.payload[index++] ;\n    // x1 = ~x1 ; \n    // x1 = ( x1 + 1 ) % 256; \n    evb_sensors.accelerometer.x = x1 * 0.0625//; / 15;\n    // evb_sensors.accelerometer.y = (msg.payload[index++] << 24) >> 16;\n    var y1 = evb_sensors.accelerometer.y = msg.payload[index++] ;\n    // y1 = ~ y1 ; \n    // y1 = ( y1 + 1 ) % 256;\n    \n    var y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n\n    // evb_sensors.accelerometer.z = (msg.payload[index++] << 24) >> 16;\n    var z1 = evb_sensors.accelerometer.z = msg.payload[index++] ;\n    // z1 = ~ z1 ; \n    // z1 = ( z1 + 1 ) % 256; \n    // z1 = z1 - 128;\n    var z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n    break;\n  case EVB_TYPE.temperature:\n    if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n    }\n\n    value = (msg.payload[index++] << 24) >> 16;\n    value |= msg.payload[index++];\n    value = value * 0.0625;\n\n    evb_sensors.temperature.c = value;\n    break;\n  case EVB_TYPE.tx_interval:\n    evb_sensors.tx_timer = msg.payload[index++];\n    break;\n  case EVB_TYPE.m2x_device:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_device = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_device += String.fromCharCode(value[j]);\n    }\n    break;\n  case EVB_TYPE.m2x_key:\n    value = msg.payload.slice(index, index + length);\n    evb_info[msg.eui].m2x_key = \"\";\n    for (var j = 0; j < length; j++) {\n      evb_info[msg.eui].m2x_key += String.fromCharCode(value[j]);\n    }\n    break;\n  default:\n    index += length;\n    break;\n  }\n}\n\nif (typeof(evb_info[msg.eui].m2x_device) == \"undefined\") {\n  console.log(\"No m2x_device registered for \" + msg.eui);\n//   return null;\n}\nif (typeof(evb_info[msg.eui].m2x_key) == \"undefined\") {\n  console.log(\"No m2x_key registered for \" + msg.eui);\n//   return null;\n}\nmsg.m2x_device = evb_info[msg.eui].m2x_device;\nmsg.m2x_key = evb_info[msg.eui].m2x_key;\nmsg.evb = evb_sensors;\n\n/*\n * Return msg to continue the flow\n */\nif (typeof msg.evb != \"undefined\"){\n  return msg;     \n}\n","outputs":1,"noerr":0,"x":800,"y":900,"wires":[[]]},{"id":"958a222e.e24d2","type":"comment","z":"5e2f737f.18a00c","name":"http TTN","info":"","x":2040,"y":180,"wires":[]},{"id":"57d9eec.6f6ed1","type":"file in","z":"5e2f737f.18a00c","name":"","filename":"garage-door-2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":400,"wires":[[]]},{"id":"19bdb513.7ac59b","type":"mongodb out","z":"5e2f737f.18a00c","mongodb":"92506e86.b3083","name":"","collection":"bdb_mbox","payonly":false,"upsert":false,"multi":false,"operation":"store","x":390,"y":1460,"wires":[]},{"id":"b82d834a.23202","type":"trigger","z":"5e2f737f.18a00c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":900,"y":1280,"wires":[["d8f21ef2.ebfe7"]]},{"id":"d8f21ef2.ebfe7","type":"ui_gauge","z":"5e2f737f.18a00c","name":"","group":"18920e55.b1da32","order":1,"width":0,"height":0,"gtype":"gage","title":"ping","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":1280,"wires":[]},{"id":"6cca8818.bd8168","type":"switch","z":"5e2f737f.18a00c","name":"","property":"payload.measurement","propertyType":"msg","rules":[{"t":"eq","v":"LoRa_demo","vt":"str"},{"t":"eq","v":"GPS_survey","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1200,"wires":[["1317de73.d1cfe2","2eb1009f.1b448","3042a41c.9885ac","d87a9d8d.39f25","5bbc6367.aca14c","9c69ec3f.c23c5","42b4988.f91ed68","9b82f941.1eb8c8"],["5b619c33.143ad4","58e7ac5a.dcfbb4","2e9cfb36.19d2b4","b82d834a.23202","3ce35123.f92d7e"]]},{"id":"2e9cfb36.19d2b4","type":"ui_text","z":"5e2f737f.18a00c","group":"18920e55.b1da32","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.temp_f}}","layout":"row-spread","x":910,"y":1400,"wires":[]},{"id":"5b619c33.143ad4","type":"ui_text","z":"5e2f737f.18a00c","group":"18920e55.b1da32","order":3,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.latitude}}","layout":"row-spread","x":900,"y":1320,"wires":[]},{"id":"58e7ac5a.dcfbb4","type":"ui_text","z":"5e2f737f.18a00c","group":"18920e55.b1da32","order":4,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.longitude}}","layout":"row-spread","x":900,"y":1360,"wires":[]},{"id":"728214e2.95c89c","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":1080,"wires":[]},{"id":"1317de73.d1cfe2","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":3,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload.lux}}","layout":"row-spread","x":890,"y":1040,"wires":[]},{"id":"2eb1009f.1b448","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":4,"width":0,"height":0,"name":"","label":"Moisture","format":"{{msg.payload.moisture}}","layout":"row-spread","x":900,"y":1080,"wires":[]},{"id":"3042a41c.9885ac","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.temp_f}}","layout":"row-spread","x":910,"y":1000,"wires":[]},{"id":"d87a9d8d.39f25","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":5,"width":0,"height":0,"name":"","label":"X_Acc","format":"{{msg.payload.x_acc}}","layout":"row-spread","x":890,"y":1120,"wires":[]},{"id":"5bbc6367.aca14c","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":6,"width":0,"height":0,"name":"","label":"Y_Acc","format":"{{msg.payload.y_acc}}","layout":"row-spread","x":890,"y":1160,"wires":[]},{"id":"9c69ec3f.c23c5","type":"ui_text","z":"5e2f737f.18a00c","group":"41643c3a.edc894","order":7,"width":0,"height":0,"name":"","label":"Z_Acc","format":"{{msg.payload.z_acc}}","layout":"row-spread","x":890,"y":1200,"wires":[]},{"id":"42b4988.f91ed68","type":"trigger","z":"5e2f737f.18a00c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":900,"y":1240,"wires":[["ceb450ae.1ebe1"]]},{"id":"ceb450ae.1ebe1","type":"ui_gauge","z":"5e2f737f.18a00c","name":"","group":"41643c3a.edc894","order":1,"width":0,"height":0,"gtype":"gage","title":"ping","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":1240,"wires":[]},{"id":"389b7fe4.cf6be","type":"inject","z":"8e1da8f1.d43388","name":"","topic":"","payload":"0E07020D08060C2105000D0B015D","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["6ef69532.448c2c","8c36afb5.2aa5e"]]},{"id":"6ef69532.448c2c","type":"debug","z":"8e1da8f1.d43388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"8c36afb5.2aa5e","type":"function","z":"8e1da8f1.d43388","name":"","func":"var bytes = msg.payload;\n\n\n\nif (bytes.length == 14){\n  var event_array = []; \n  var evb_sensors = {};\n  var EVB_TYPE = {\n    none: 0,\n    led_1: 1,\n    led_2: 2,\n    lux_max: 3,\n    lux_min: 4,\n    lux: 5,\n    barometer_max: 6,\n    barometer_min: 7,\n    barometer: 8,\n    temperature_max: 9,\n    temperature__min: 10,\n    temperature: 11,\n    accelerometer_max: 12,\n    accelerometer_min: 13,\n    accelerometer: 14,\n    tx_interval: 15,\n    amps_max: 16,\n    amps_min: 17,\n    amps: 18,\n    m2x_device: 19,\n    m2x_key: 20,\n  };\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\n  for (var index = 0; index < bytes.length; ) {\n    var type = bytes[index++];\n  //   var length = bytes[index++];\n    var value;\n    console.log(\"type: \" + type + \" length: \" );\n\n    switch (type) {\n    case EVB_TYPE.lux:\n      if (typeof(evb_sensors.light) == \"undefined\") {\n        evb_sensors.light = {};\n      }\n      value = bytes[index++] << 8;\n      value |= bytes[index++];\n      value = value * 0.24;\n      //evb_sensors.light.lux = value;\n      var lux = value; \n      //web of things event array payload\n      var lux_lighting_event = {};\n      lux_lighting_event.n = \"lux_level\";\n      lux_lighting_event.u = \"lx\";\n      lux_lighting_event.v = lux;\n      event_array.push(lux_lighting_event);\n      break;\n    case EVB_TYPE.barometer:\n      if (typeof(evb_sensors.barometer) == \"undefined\") {\n        evb_sensors.barometer = {};\n      }\n      value = bytes[index++] << 16;\n      value |= bytes[index++] << 8;\n      value |= bytes[index++];\n      value = value * 0.00025;\n      evb_sensors.barometer.pa = value;\n      var barometer = value;\n\n     //web of things event array payload\n      var relative_humidity_event = {};\n      relative_humidity_event.n = \"relative_humidity\";\n      relative_humidity_event.u = \"%RH\";\n      relative_humidity_event.v = barometer;\n      event_array.push(relative_humidity_event);\n      break;\n    case EVB_TYPE.temperature:\n      if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n      }\n      value = (bytes[index++] << 24) >> 16;\n      value |= bytes[index++];\n      value = value * 0.0625;\n      evb_sensors.temperature.c = value;\n      evb_sensors.temperature.f =  evb_sensors.temperature.c * 9 / 5 + 32; \n      //web of things event array payload\n      var air_temp_event = {};\n      air_temp_event.n = \"temperature\";\n      air_temp_event.u = \"Fah\";\n      air_temp_event.v = evb_sensors.temperature.f;\n      event_array.push(air_temp_event);\n      break;\n \n    case EVB_TYPE.accelerometer:\n      if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n      }\n      // evb_sensors.accelerometer.x = (bytes[index++] << 24) >> 16;\n      var x1 = evb_sensors.accelerometer.x = bytes[index++] ;\n      // x1 = ~x1 ; \n      // x1 = ( x1 + 1 ) % 256; \n      evb_sensors.accelerometer.x = x1 * 0.0625;//; / 15;\n      var accelerometer_x = x1 * 0.0625;//; / 15;\n      // evb_sensors.accelerometer.y = (bytes[index++] << 24) >> 16;\n      var y1 = evb_sensors.accelerometer.y = bytes[index++] ;\n      // y1 = ~ y1 ; \n      // y1 = ( y1 + 1 ) % 256;\n        \n      y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n      // evb_sensors.accelerometer.z = (bytes[index++] << 24) >> 16;\n      var z1 = evb_sensors.accelerometer.z = bytes[index++] ;\n      // z1 = ~ z1 ; \n      // z1 = ( z1 + 1 ) % 256; \n      // z1 = z1 - 128;\n      z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n      //web of things event array payload\n      accelerometer_x_event = {};\n      accelerometer_x_event.n = \"x\";\n      accelerometer_x_event.u = \"axis\";\n      accelerometer_x_event.n = accelerometer_x;\n      event_array.push(accelerometer_x_event);\n      \n      accelerometer_y_event = {};\n      accelerometer_y_event.n = \"\";\n      accelerometer_y_event.u = \"axis\";\n      accelerometer_y_event.n = accelerometer_y;\n      event_array.push(accelerometer_y_event);\n    \n      accelerometer_z_event = {};\n      accelerometer_z_event.n = \"z\";\n      accelerometer_z_event.u = \"axis\";\n      accelerometer_z_event.n = accelerometer_z;\n      event_array.push(accelerometer_z_event);\n      break;    \n      \n      }\n     return {\n      //temp_c: evb_sensors.temperature.c,\n      measurement: \"LoRa_demo\",\n      temp_f: temperature_fah,\n      barometer: barometer,\n      lux: lux,\n      //x_acc: accelerometer_x,\n      //y_acc: accelerometer_y,\n      //z_acc: accelerometer_z,\n      payload: {events: event_array},\n  };\n\n\n  }\n\n} else if (bytes.length == 11) {\n\n/*\nGPS Survey Sweep Payload\nByte 0 is 0\nByte 1 is temperature in Celsius\nByte 2 is 0\nByte 3-6 is GPS Latitude\nByte 7-10 is GPS Longitude\nBytes 10+ is padding with 0\n*/  \n\n  var temp_c = bytes[1];\n  temp_f = 1.8 * temp_c + 32; //\n  //web of things event array\n  var gps_air_temp_event = {};\n  gps_air_temp_event.n = \"temperature\";\n  gps_air_temp_event.u = \"Fah\";\n  gps_air_temp_event.v = temp_f;\n  gps_event_array.push(lair_temp_event);\n\n  var latitude = ((bytes[3] << 24) | (bytes[4] << 16) | (bytes[5] << 8 ) | bytes[6])  / 2147483648*90; // 2^31 * 90\n  let gps_latitude_event = {};\n  gps_latitude_event.n = \"latitude\";\n  gps_latitude_event.u = \"deg\";\n  gps_latitude_event.v = latitude;\n  gps_event_array.push(gps_latitude_event);\n\n  var longitude = ((bytes[7] << 24) | (bytes[8] << 16) | (bytes[9] << 8 ) | bytes[10]) / 2147483648*180; // 2^31 * 180\n  var gps_longitude_event = {};\n  gps_longitude_event.n = \"longitude\";\n  gps_longitude_event.u = \"deg\";\n  gps_longitude_event.v = longitude;\n  gps_event_array.push(gps_longitude_event);\n\n // if (port === 1) decoded.led = bytes[0];\n\n  return {\n    measurement: \"GPS_survey\",\n    temperature_f: temperature_fah,\n    latitude: latitude,\n    longitude: longitude,\n    events: gps_event_array,\n  };\n} else {\nreturn { payload: \"unexpected byte length\"};  \n}\n","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["a9fa4096.ca1c6"]]},{"id":"a9fa4096.ca1c6","type":"debug","z":"8e1da8f1.d43388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":260,"wires":[]},{"id":"8d9beb51.209188","type":"debug","z":"5e2f737f.18a00c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1400,"wires":[]},{"id":"20c4ec0a.29e6c4","type":"function","z":"5e2f737f.18a00c","name":"TTN Mbox Codec","func":"//function Decoder(bytes, port) {\n  // Decode an uplink message from a buffer\n  // (array) of bytes to an object of fields.\n  //var decoded = {};\n\n  // if (port === 1) decoded.led = bytes[0];\n\n  //return decoded;\n//}\n//function Decode(fPort, bytes) {\n\n\n//function Decoder(bytes, port) {\nvar bytes = msg.payload_raw;\n\n\nif (bytes.length == 14){  \n  var event_array = [];\n  var evb_sensors = {};\n  var EVB_TYPE = {\n    none: 0,\n    led_1: 1,\n    led_2: 2,\n    lux_max: 3,\n    lux_min: 4,\n    lux: 5,\n    barometer_max: 6,\n    barometer_min: 7,\n    barometer: 8,\n    temperature_max: 9,\n    temperature__min: 10,\n    temperature: 11,\n    accelerometer_max: 12,\n    accelerometer_min: 13,\n    accelerometer: 14,\n    tx_interval: 15,\n    amps_max: 16,\n    amps_min: 17,\n    amps: 18,\n    m2x_device: 19,\n    m2x_key: 20,\n  };\n\n/*\n * Process the EVB LoRa payload.\n *\n * EVB payload contains one or more TLV fields.\n *\n * [<type: accelerometer><length: 6><x-high><x-low><y-high><y-low><z-high><z-low>]\n * [<type: barometer><length: 3><byte2><byte1><byte0>]\n * [<type: temperature><length: 2><byte-high><byte-low>]\n * \n */\n  for (var index = 0; index < bytes.length; ) {\n    var type = bytes[index++];\n  //   var length = bytes[index++];\n    var value;\n    console.log(\"type: \" + type + \" length: \" );\n\n    switch (type) {\n    case EVB_TYPE.lux:\n      if (typeof(evb_sensors.light) == \"undefined\") {\n        evb_sensors.light = {};\n      }\n      value = bytes[index++] << 8;\n      value |= bytes[index++];\n      value = value * 0.24;\n      evb_sensors.light.lux = value;\n      // web of things \n      var lux_lighting_event = {};\n      lux_lighting_event.n = \"lux_level\";\n      lux_lighting_event.u = \"lx\";\n      lux_lighting_event.v = evb_sensors.light.lux;\n      event_array.push(lux_lighting_event);\n      break;\n    case EVB_TYPE.barometer:\n      if (typeof(evb_sensors.barometer) == \"undefined\") {\n        evb_sensors.barometer = {};\n      }\n      value = bytes[index++] << 16;\n      value |= bytes[index++] << 8;\n      value |= bytes[index++];\n      value = value * 0.00025;\n      evb_sensors.barometer.pa = value;\n      \n      //web of things event array payload\n      var relative_humidity_event = {};\n      relative_humidity_event.n = \"relative_humidity\";\n      relative_humidity_event.u = \"%RH\";\n      relative_humidity_event.v = evb_sensors.barometer.pa;\n      event_array.push(relative_humidity_event);\n      \n      break;\n    case EVB_TYPE.temperature:\n      if (typeof(evb_sensors.temperature) == \"undefined\") {\n      evb_sensors.temperature = {};\n      }\n      value = (bytes[index++] << 24) >> 16;\n      value |= bytes[index++];\n      value = value * 0.0625;\n      evb_sensors.temperature.c = value;\n      evb_sensors.temperature.f =  value * 9 / 5 + 32; \n      //web of things event array payload\n      var air_temp_event = {};\n      air_temp_event.n = \"temperature\";\n      air_temp_event.u = \"Fah\";\n      air_temp_event.v = evb_sensors.temperature.f;\n      event_array.push(air_temp_event);\n      \n      break;\n    case EVB_TYPE.accelerometer:\n      if (typeof(evb_sensors.accelerometer) == \"undefined\") {\n      evb_sensors.accelerometer = {};\n      }\n      // evb_sensors.accelerometer.x = (bytes[index++] << 24) >> 16;\n      var x1 = evb_sensors.accelerometer.x = bytes[index++] ;\n      // x1 = ~x1 ; \n      // x1 = ( x1 + 1 ) % 256; \n      evb_sensors.accelerometer.x = x1 * 0.0625;//; / 15;\n      // evb_sensors.accelerometer.y = (bytes[index++] << 24) >> 16;\n      var y1 = evb_sensors.accelerometer.y = bytes[index++] ;\n      // y1 = ~ y1 ; \n      // y1 = ( y1 + 1 ) % 256;\n        \n      y1 = evb_sensors.accelerometer.y = y1 * 0.0625 ; // / 15 ;\n      // evb_sensors.accelerometer.z = (bytes[index++] << 24) >> 16;\n      var z1 = evb_sensors.accelerometer.z = bytes[index++] ;\n      // z1 = ~ z1 ; \n      // z1 = ( z1 + 1 ) % 256; \n      // z1 = z1 - 128;\n      z1 = evb_sensors.accelerometer.z = z1 * 0.0625; // / 15;\n      //web of things event array payload\n      var accelerometer_x_event = {};\n      accelerometer_x_event.n = \"x\";\n      accelerometer_x_event.u = \"axis\";\n      accelerometer_x_event.n = evb_sensors.accelerometer.x;\n      event_array.push(accelerometer_x_event);\n      \n      var accelerometer_y_event = {};\n      accelerometer_y_event.n = \"\";\n      accelerometer_y_event.u = \"axis\";\n      accelerometer_y_event.n = evb_sensors.accelerometer.y;\n      event_array.push(accelerometer_y_event);\n      \n      var accelerometer_z_event = {};\n      accelerometer_z_event.n = \"z\";\n      accelerometer_z_event.u = \"axis\";\n      accelerometer_z_event.n = evb_sensors.accelerometer.z;\n      event_array.push(accelerometer_z_event);\n      break;    \n      }\n  }\n  return {\n    //temp_c: evb_sensors.temperature.c,\n    measurement: \"LoRa_demo\",\n    temp_f: evb_sensors.temperature.f,\n    moisture: evb_sensors.barometer.pa,\n    lux: evb_sensors.light.lux,\n    x_acc: evb_sensors.accelerometer.x,\n    y_acc: evb_sensors.accelerometer.y,\n    z_acc: evb_sensors.accelerometer.z,\n    events: event_array,\n  };\n} \n\nif (bytes.length == 11) {\n\n/*\n * Process the EVB LoRa GPS Survey Sweep payload.\n * \n * Byte 0 is 0\n * Byte 1 is temperature in Celsius\n * Byte 2 is 0\n * Byte 3-6 is GPS Latitude\n * Byte 7-10 is GPS Longitude\n * Bytes 10+ is padding with 0\n * \n*/  \n  var gps_event_array = [];\n  \n  var temp_c = bytes[1];\n  var temp_f = 1.8 * temp_c + 32;\n  //web of things event array payload\n  var gps_air_temp_event = {};\n  gps_air_temp_event.n = \"temperature\";\n  gps_air_temp_event.u = \"Fah\";\n  gps_air_temp_event.v = temp_f;\n  gps_event_array.push(gps_air_temp_event);\n  \n  var latitude = ((bytes[3] << 24) | (bytes[4] << 16) | (bytes[5] << 8 ) | bytes[6])  / 2147483648*90; // 2^31 * 90\n  //web of things event array payload\n  var gps_latitude_event = {};\n  gps_latitude_event.n = \"latitude\";\n  gps_latitude_event.u = \"deg\";\n  gps_latitude_event.v = latitude;\n  gps_event_array.push(gps_latitude_event);\n  \n  var longitude = ((bytes[7] << 24) | (bytes[8] << 16) | (bytes[9] << 8 ) | bytes[10]) / 2147483648*180; // 2^31 * 180\n  //web of things event array payload\n  var gps_longitude_event = {};\n  gps_longitude_event.n = \"longitude\";\n  gps_longitude_event.u = \"deg\";\n  gps_longitude_event.v = longitude;\n  gps_event_array.push(gps_longitude_event);  \n  \n // if (port === 1) decoded.led = bytes[0];\n  return {\n    measurement: \"GPS_survey\",\n    events: gps_event_array,\n    temp_f: temp_f,\n    latitude: latitude,\n    longitude: longitude,\n  };\n} else { return { payload: \"unexpected byte length\"};  \n}\n\n\n","outputs":1,"noerr":0,"x":350,"y":1400,"wires":[["8d9beb51.209188"]]},{"id":"ec7e3082.5644c","type":"function","z":"5e2f737f.18a00c","name":"TTN RadioBridge Codec","func":"//function Decoder(bytes, port) {\n  // Decode an uplink message from a buffer\n  // (array) of bytes to an object of fields.\n//  var decoded = {};\n\n  // if (port === 1) decoded.led = bytes[0];\n\n//  return decoded;\n//}\n\nvar bytes = msg.payload_raw;\n\n//function Decoder(bytes, port) {\n//Decode = function(fPort, bytes) {\n\nvar event_array = [];\nvar return_object = {};\n//return_object.port = port;\nreturn_object.radio_bridge_protocol_version = bytes[0] >> 4; // first nibble is always 0x1 for Radio Bridge as that is the protocol version\nreturn_object.radio_bridge_packet_count = bytes[0] & 0xF; // second nibble is the packet count (should go up by 1 each time an uplink is sent...even if the uplink is sent 6 times it should increment 6 times)\nvar message_type = bytes[1]; // Radio Bridge differentiates sensors and other common messages based on this byte\nreturn_object.message_type = message_type;\n switch(message_type) {\n    case 0x03: {\n      if (bytes.length == 3) {\n         var magnet_present_event = {};\n         var magnet_sensor_state = Boolean(bytes[2]); // 0x01 means the magnet is NOT present, 0x00 means there IS a magnet\n         magnet_present_event.n = \"magnet_present\";\n         magnet_present_event.vb = !magnet_sensor_state;\n         event_array.push(magnet_present_event);\n      }\n    break;\n    } // end case 0x03 (door/window sensor)\n    case 0x0A: {\n      if (bytes.length == 4) {\n         var tilt_event = {};\n         var tilt_sensor_state = Boolean(bytes[2]); //\n      }\n    break;\n    }\n    case 0x00: { // 0x00 is the reset message (5 bytes)\n      if (bytes.length == 8) {\n      /* Not using right now....should use later\n         var sensor_type_codes = {\n         0x00: \"undefined sensor_type_code\",\n         0x01: \"Door/Window\",\n         0x02: \"Door/Window High Security\",\n         0x03: \"Contact\",\n         0x04: \"Temperature No-Probe\",\n         0x05: \"Temperature External Probe\",\n         0x06: \"Single Push Button\",\n         0x07: \"Dual Push Button\",\n         0x0E: \"Air Temperature and Humidity\",\n         0x0A: \"Tilt Sensor\",\n         };\n         */\n         var reset_event = {};\n         reset_event.n = \"device_reset_event\";\n         reset_event.vd = '' + bytes;\n         /* These are not used right now, but could be used in the future\n         var sensor_type_code = bytes[2];\n         var hardware_version = bytes[3];\n         var firmware_version_major = bytes[4];\n         var firmware_version_minor = bytes[5];\n         var reset_code_major = bytes[6];\n         var reset_code_minor = bytes[7];\n         */\n         event_array.push(reset_event);\n         }\n     break;\n    } // end case 0x00\n    case 0x01: { // 0x01 is the status payload for supervisory messages\n     if (bytes.length == 5) {\n         var supervisory_error_event = {};\n         var supervisory_error_codes = bytes[2];//TODO make enums for this\n         supervisory_error_event.n = \"supervisory_error_codes\";\n         supervisory_error_event.vd = '' + supervisory_error_codes; // TODO make different events for this\n         event_array.push(supervisory_error_event);\n    \n         var supervisory_sensor_state = bytes[3];\n         var supervisory_sensor_state_event = {};\n         supervisory_sensor_state_event.n = \"supervisory_sensor_state\";\n         supervisory_sensor_state_event.v = supervisory_sensor_state; // TODO make different events for this\n         event_array.push(supervisory_sensor_state_event);\n    \n         var battery_event = {};\n         var battery_voltage_integer = bytes[4] >>> 4; // integer is highest 4 bits\n         var battery_voltage_decimal = (bytes[4] & 0x0F)/10; // decimal is lowest 4 bits\n         battery_event.v = battery_voltage_integer + battery_voltage_decimal;\n         battery_event.n = \"battery_voltage\";\n         battery_event.u = \"V\";\n         event_array.push(battery_event);\n     }\n     break;\n    } // end case 0x01\n    case 0x02: { // 0x02 is the status payload for tamper event messages\n     if (bytes.length == 3) {\n         var tamper_switch_event = {};\n         var tamper_switch_closed = Boolean(bytes[2]); // closed means the device is in a secure state. Opened means the case was removed or the sensor was removed from the wall\n         tamper_switch_event.n = \"tamper_switch_closed\";\n         tamper_switch_event.vb = tamper_switch_closed; // 0x00 = tamper switch released, 0x01 = tamper switch pressed\n         event_array.push(tamper_switch_event);\n     }\n     break;\n    } // end case 0x02\n    case 0xfd: { // 0xfd is the test message\n     var magnet_event = {}; // TODO eventually break this into different events based on the sensor type\n     magnet_event.n = \"magnet_device_test\";\n     magnet_event.v = bytes[2]; // some sensors have more than one byte for status\n     event_array.push(magnet_event);\n     break;\n    } // end case 0xfd\n    case 0x09: {\n     if (bytes.length == 5){\n       //var temperature = bytes[3]; -- Celsius Temperature  \n       var temperature_f = (bytes[3] * 9/5)+32;\n       var air_temp_event = {};\n           air_temp_event.n = \"temperature\";\n         //air_temp_event.u = \"Cel\";\n         //air_temp_event.v = temperature;\n         air_temp_event.u = \"Fah\";\n           air_temp_event.v= temperature_f;\n       event_array.push(air_temp_event);\n       var temperature_relative = bytes[4];\n       var air_temp_relative_event = {};\n           air_temp_relative_event.n = \"relative_temperature\";\n           air_temp_relative_event.u = \"0-255\";\n           air_temp_relative_event.v = temperature_relative;\n       event_array.push(air_temp_relative_event);   \n   }\n   break;\n } // end case 0x09 (temp-no-probe)\n   case 0x0D: { // 0x0D is ath event\n       if (bytes.length == 7) {\n         /* Not using right now....should use later\n         var air_temp_humidity_events = {\n          0x00: \"periodic report\",\n          0x01: \"temperature above upper threshold\",\n          0x02: \"temperature below lower threshold\",\n          0x03: \"temperature report on change increase\",\n          0x04: \"temperature report on change decrease\",\n          0x05: \"humidity above upper threshold\",\n          0x06: \"humidity below lower threshold\",\n          0x07: \"humidity report on change increase\",\n          0x08: \"humidity report on change increase\",\n         };\n         */\n         //var air_temp_event = {}; -- took out because it errored due to air_temp_event defined above\n         air_temp_event = {};\n           air_temp_event.n = \"temperature\";\n           //air_temp_event.u = \"Cel\";  -- Celsius Temp\n           air_temp_event.u = \"Fah\";\n         var sign_mask = 0x80;\n         var temperature = bytes[3] & 0x7F; // set the sign bit to be 0 so we can have just the temperature\n         var temperature_decimal = bytes[4] >>> 4; // 10ths spot is in the upper 4 bits\n         air_temp_event.c = temperature + (temperature_decimal/10);// need to take 10ths number and divide by 10 to get it as an actual 10ths place\n         air_temp_event.v = (((temperature + (temperature_decimal/10)) *9/5) +32);// need to take 10ths number and divide by 10 to get it as an actual 10ths place\n         \n         \n         if (bytes[3] & sign_mask) { // if the msb is '1', then we have a negative number\n         //air_temp_event.v = (-1 * air_temp_event.v); //Celsius Temp\n         var temp_c = (-1 * air_temp_event.v);\n         air_temp_event.v = ((temp_c * 9/5) +32);\n         //air_temp_event.v = (((-1 * air_temp_event.v) * 9/5)+32);\n         //air_temp_event.v = (-1 * ((air_temp_event.v)* 9/5) +32));\n         }\n         event_array.push(air_temp_event);\n      var air_humidity_event = {};\n         air_humidity_event.n = \"relative_humidity\";\n         air_humidity_event.u = \"%RH\";\n         var humidity = bytes[5];\n         var humidity_decimal = bytes[6] >>> 4;// 10ths spot is in the upper 4 bits\n         air_humidity_event.v = humidity + humidity_decimal/10;// need to take 10ths number and divide by 10 to get it as an actual 10ths place\n         event_array.push(air_humidity_event);\n     } // not 7 bytes long...unknown packet\n     break;\n  } // end case 0x0D (ath event)\n\n    default: {\n     break;\n    } // end default case\n } // end switch(message_type)\n     if (event_array.length === 0) {\n     var unknown_event = {};\n     unknown_event.n = \"unknown_event\";\n     unknown_event.vd = '' + bytes;\n     event_array.push(unknown_event);\n     }\n var raw_data_event = {};\n   raw_data_event.n = \"raw_data\";\n   raw_data_event.vd = '' + bytes;\n   event_array.push(raw_data_event);\n   return_object.events = event_array;\n   return return_object;\n//}\n    \n// console.log(Decode(0x02, [20,6,3,0]));\n// module.exports = Decode;\n\n  ","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["4b633310.67b08c"]]},{"id":"4b633310.67b08c","type":"debug","z":"5e2f737f.18a00c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":540,"wires":[]},{"id":"e0675a8f.13add8","type":"link out","z":"5e2f737f.18a00c","name":"radioBridgeLoop","links":["f34b23b7.7e244"],"x":655,"y":300,"wires":[]},{"id":"c894dac7.593918","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"adfac952.f56f88","name":"","measurement":"","precision":"","retentionPolicy":"","x":350,"y":1920,"wires":[]},{"id":"f34b23b7.7e244","type":"link in","z":"48cd7f09.ee596","name":"radioBridgeLoopIn","links":["e0675a8f.13add8"],"x":155,"y":1840,"wires":[["c894dac7.593918"]]},{"id":"9b82f941.1eb8c8","type":"function","z":"5e2f737f.18a00c","name":"Loop","func":"let dev_id = msg.dev_id;\nlet hardware_serial = msg.hardware_serial;\nlet app_id = msg.app_id;\nlet counter = msg.counter;\nlet events = msg.payload.events;\nlet influxMsg = {};\n\n\n/*\nTO Do...  when unknown_event is passed through to influxdb, it throws 400 bad request error.\nHow can I filter out using an array of bad events in my if statement most efficeintly?\nmap filter?\n\nlet exclusion_list = ['unknown_event', 'raw_data'];\n*/\ninfluxMsg.measurement = \"radio_bridge\";\n//var influxMsg = [];\n\n//if (msg.payload.object.events[i].n === \"temperature\") {\n\n/*\n122719 bdb - Doing a couple things here intentionally:  \n\n1) Stripping off raw_data packets - Already caputring them in mongodb if needed.  \n2) defining influxdb measurement equal to the name of the event from the codec.\n3) defining events[i].n \n\n*/\n\n\nfor (var i = 0 ; i < events.length; i++) {\n    //if (events[i].n !=[\"raw_data\", \"unknown_event\"] ){\n    if (events[i].n != \"raw_data\") {\n        influxMsg = [{\n            measurement: events[i].n,\n            payload: [{\n            dev_id: dev_id,\n            dev_eui: hardware_serial,\n            msg_counter: counter,\n            n: events[i].n,\n            u: events[i].u,\n            v: events[i].v,\n        },{\n            app_id: app_id,\n            device_id: dev_id,\n            event_name: events[i].n\n        }],}];\n        node.send(influxMsg);\n    } else {}\n}    \n\n","outputs":1,"noerr":0,"x":890,"y":960,"wires":[["36faf6bd.2f351a"]]},{"id":"36faf6bd.2f351a","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":960,"wires":[]},{"id":"3ce35123.f92d7e","type":"function","z":"5e2f737f.18a00c","name":"","func":"let dev_id = msg.dev_id;\nlet hardware_serial = msg.hardware_serial;\nlet app_id = msg.app_id;\nlet counter = msg.counter;\nlet events = msg.payload.events;\nlet influxMsg = {};\n\nlet latitude = msg.payload.latitude;\nlet longitude = msg.payload.longitude;\nlet temp_f = msg.payload.temp_f;\nlet frequency = msg.metadata.frequency;\nlet data_rate = msg.metadata.data_rate\nlet airtime = msg.metadata.airtime;\n\n\nlet measurement = msg.payload.measurement;\nlet geoloc = \"mbox gps survey\"\n\ninfluxMsg = [{\nmeasurement: measurement,\npayload: [{\n    dev_id: dev_id,\n    dev_eui: hardware_serial,\n    msg_counter: counter,\n    latitude: latitude,\n    longitude: longitude,\n    temp_f: temp_f,\n    frequency: frequency,\n    data_rate: data_rate,\n    airtime: airtime,\n    },{\n    app_id: app_id,\n    device_id: dev_id,\n    event_name: geoloc,\n    }],}];\n\nreturn influxMsg;    ","outputs":1,"noerr":0,"x":890,"y":1440,"wires":[["ba01e8e8.cbc058","a93bf125.e418a","417b7598.dc237c"]]},{"id":"f2a03ff1.809a9","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":1560,"wires":[]},{"id":"ba01e8e8.cbc058","type":"link out","z":"5e2f737f.18a00c","name":"mboxTTN","links":["a11b6bd3.d415f8","e6e9f172.19275"],"x":1040,"y":1500,"wires":[]},{"id":"a11b6bd3.d415f8","type":"link in","z":"48cd7f09.ee596","name":"mboxTTNin","links":["ba01e8e8.cbc058"],"x":155,"y":2000,"wires":[["c894dac7.593918","fef2bdcb.d173e"]]},{"id":"fef2bdcb.d173e","type":"debug","z":"48cd7f09.ee596","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":2040,"wires":[]},{"id":"e6e9f172.19275","type":"link in","z":"bcdd2775.ada368","name":"","links":["ba01e8e8.cbc058"],"x":195,"y":700,"wires":[["af5e626.d2576a"]]},{"id":"af5e626.d2576a","type":"mongodb out","z":"bcdd2775.ada368","mongodb":"92506e86.b3083","name":"","collection":"gps_survey","payonly":false,"upsert":false,"multi":false,"operation":"store","x":535,"y":700,"wires":[]},{"id":"4d01e542.ee064c","type":"mongodb in","z":"bcdd2775.ada368","mongodb":"92506e86.b3083","name":"","collection":"gps_survey","operation":"find","x":540,"y":800,"wires":[["38f5705.a8af59"]]},{"id":"dafd9d3a.387dc","type":"inject","z":"bcdd2775.ada368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":800,"wires":[["5b24959a.5627bc"]]},{"id":"5b24959a.5627bc","type":"function","z":"bcdd2775.ada368","name":"","func":"msg.query = \"select * from gps_survey\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["4d01e542.ee064c"]]},{"id":"38f5705.a8af59","type":"debug","z":"bcdd2775.ada368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":800,"wires":[]},{"id":"f7f3cf5e.b84f5","type":"comment","z":"bcdd2775.ada368","name":"LoRaWAN Survey Sweep GPS db","info":"","x":220,"y":660,"wires":[]},{"id":"7a86331e.7b1c4c","type":"function","z":"8e1da8f1.d43388","name":"Prometheus OpenMetrics ","func":"\n\n\n/*\n# HELP metric_name Description of the metric\n# TYPE metric_name type\n# Comment that's not parsed by prometheus\nhttp_requests_total{method=\"post\",code=\"400\"}  3   1395066363000\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[[]]},{"id":"417b7598.dc237c","type":"geohash","z":"5e2f737f.18a00c","name":"","property":"payload.events","x":1000,"y":1560,"wires":[["f2a03ff1.809a9"]]},{"id":"a93bf125.e418a","type":"debug","z":"5e2f737f.18a00c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":1440,"wires":[]},{"id":"cddfc64b.708e28","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2120,"y":1700,"wires":[["36782aa6.01e6e6"]]},{"id":"36782aa6.01e6e6","type":"function","z":"4af6b510.e9214c","name":"","func":"msg.url = 'https://10.0.0.205:8080/api/apiVer'\nmsg.method = 'GET'\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":1700,"wires":[["880c5db1.0e32c"]]},{"id":"d89abf93.1c1fb","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2770,"y":1700,"wires":[]},{"id":"880c5db1.0e32c","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2450,"y":1700,"wires":[["984cd192.1beae"]]},{"id":"984cd192.1beae","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2590,"y":1700,"wires":[["d89abf93.1c1fb"]]},{"id":"d15b9382.64d3b","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":"10","x":170,"y":320,"wires":[["940873ba.aa21b"]]},{"id":"940873ba.aa21b","type":"function","z":"4af6b510.e9214c","name":"","func":"let hostname = flow.get('rainMachine_ip')\n\nmsg.url = 'https://'+hostname+':8080/api/4/auth/login'\nmsg.method = 'POST'\nmsg.payload = {\n    \"pwd\": \"happyhour\", \n    \"remember\":0\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["fc129510.f6ed38"]]},{"id":"e063a34a.80605","type":"debug","z":"4af6b510.e9214c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":260,"wires":[]},{"id":"fc129510.f6ed38","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":570,"y":320,"wires":[["cb48a3ae.a7ef4"]]},{"id":"cb48a3ae.a7ef4","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":710,"y":320,"wires":[["e063a34a.80605","baad951c.34c2d8"]]},{"id":"baad951c.34c2d8","type":"change","z":"4af6b510.e9214c","name":"","rules":[{"t":"set","p":"rainMachine_access_token","pt":"flow","to":"payload.access_token","tot":"msg"},{"t":"set","p":"rainMachine_token_expiration","pt":"flow","to":"payload.expiration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[[]]},{"id":"c668c56f.552d38","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2060,"y":1080,"wires":[["5ce04c40.ed6474"]]},{"id":"5ce04c40.ed6474","type":"function","z":"4af6b510.e9214c","name":"","func":"var token = flow.get('rainMachine_access_token');\nmsg.url = 'https://10.0.0.205:8080/api/4/dailystats?access_token='+token;\nmsg.method = 'GET'\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":1080,"wires":[["281aa24b.f90bee"]]},{"id":"516a7b98.741554","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2710,"y":1080,"wires":[]},{"id":"281aa24b.f90bee","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2390,"y":1080,"wires":[["6b934626.5bb348"]]},{"id":"6b934626.5bb348","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2530,"y":1080,"wires":[["516a7b98.741554"]]},{"id":"e6f5314b.12f4c","type":"function","z":"9cc3ab3e.ae7238","name":"Zurn","func":"var rmsg = {};\nrmsg.payload = {};\n\nvar payloadBuffer = msg.payload;\n\n// Convert the bytes in payloadBuffer to an array.\nvar bArray = [];\n\nfor ( var i = 0; i < payloadBuffer.length; i++ )\n{\n    var code = payloadBuffer.charCodeAt(i);\n\n    bArray.push(code & 0xff);\n}\n\nnode.warn( bArray) ;\n\n// If the payloadBuffer is 11 bytes in length, assume Zurn valve.  \n\nif ( bArray.length >= 11 )\n{\n    // Compute the sensorId (from the first 4 bytes)\n    var sensorId = 0;\n    \n    for ( var i = 0; i < 4; i++ )\n        sensorId = (sensorId * 0x100) + bArray[i];\n\n    // MessageNum and commandId are just the 5th and\n    // 6th byte\n    var messageNum = bArray[4];\n    var commandId = bArray[5];\n    \n    // Copy the fields to an array\n    var fields = [];\n    \n    for ( var i = 6; i < 10; i++ )\n        fields.push(bArray[i]);\n    \n    // CRC is the 11th byte\n    var crc = bArray[10];\n    \n    rmsg.payload.sensorId = sensorId;\n    rmsg.payload.messageNum = messageNum;\n    rmsg.payload.commandId = commandId;\n    rmsg.payload.fields = fields;\n    rmsg.payload.crc = crc;\n    \n    rmsg.topic = \"tgtlora/smartbuildings/watervalve\";\n}\nelse if ( bArray.length > 11 ) \n{\n    var lux = bArray[5];\n}\nelse\n{\n    rmsg.payload.payload_raw = payloadBuffer;\n    \n    rmsg.topic = \"tgt/smartbuildings/json\";\n}\n\n// Timestamp is part of the original msg, not the payload string\nrmsg.payload.timestamp = msg.timestamp;\n\nreturn rmsg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[[]]},{"id":"c1791c.4dd076e8","type":"moment","z":"8e1da8f1.d43388","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"timestamp","outputType":"msg","outTz":"America/Chicago","x":860,"y":120,"wires":[["2a13fd14.284ae2"]]},{"id":"a37bfa8a.fc0788","type":"inject","z":"8e1da8f1.d43388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":120,"wires":[["c1791c.4dd076e8"]]},{"id":"2a13fd14.284ae2","type":"debug","z":"8e1da8f1.d43388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":120,"wires":[]},{"id":"7de7dbe9.a149b4","type":"comment","z":"4af6b510.e9214c","name":"AUTH","info":"","x":130,"y":260,"wires":[]},{"id":"5c1f8618.7af688","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"10.0.0.205","payloadType":"str","repeat":"82800","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":140,"wires":[["94116b6c.3e3b88"]]},{"id":"94116b6c.3e3b88","type":"change","z":"4af6b510.e9214c","name":"","rules":[{"t":"set","p":"rainMachine_ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[[]]},{"id":"a24b9ed4.e7e37","type":"function","z":"4af6b510.e9214c","name":"provision","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/provision?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":200,"wires":[["f597daf8.adee18"]]},{"id":"2b8dc23c.82cb3e","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2710,"y":200,"wires":[]},{"id":"f597daf8.adee18","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2390,"y":200,"wires":[["ddfe5e07.ea558"]]},{"id":"ddfe5e07.ea558","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2530,"y":200,"wires":[["2b8dc23c.82cb3e"]]},{"id":"a8854f02.313aa","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1960,"y":200,"wires":[["a24b9ed4.e7e37"]]},{"id":"7dd5d011.e0213","type":"function","z":"4af6b510.e9214c","name":"zone/start","func":"let zone_id = msg.payload;\nlet hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/zone/'+zone_id+'/start?access_token='+access_token;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":360,"wires":[["be194817.e06878"]]},{"id":"c803823a.deebb","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2730,"y":360,"wires":[]},{"id":"be194817.e06878","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2410,"y":360,"wires":[["34712c85.a349e4"]]},{"id":"34712c85.a349e4","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2590,"y":360,"wires":[["c803823a.deebb"]]},{"id":"688b33c6.5d999c","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1970,"y":360,"wires":[["7dd5d011.e0213"]]},{"id":"c482d131.2d3d5","type":"function","z":"4af6b510.e9214c","name":"zone/stop","func":"let zone_id = msg.payload;\nlet hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/zone/'+zone_id+'/stop?access_token='+access_token;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":440,"wires":[["7586f297.68198c"]]},{"id":"fa6aecac.cc45e","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2730,"y":440,"wires":[]},{"id":"7586f297.68198c","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2410,"y":440,"wires":[["72d77bfb.036cd4"]]},{"id":"72d77bfb.036cd4","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2590,"y":440,"wires":[["fa6aecac.cc45e"]]},{"id":"fa5121fa.07052","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1970,"y":440,"wires":[["c482d131.2d3d5"]]},{"id":"90a1ac30.bec2e","type":"function","z":"4af6b510.e9214c","name":"watering/zone","func":"let zone_id = msg.payload;\nlet hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/watering/zone?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":540,"wires":[["16dcbe29.be6862"]]},{"id":"9217b1f2.3bfb1","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2890,"y":540,"wires":[]},{"id":"16dcbe29.be6862","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2410,"y":540,"wires":[["63021fd0.2fa2c"]]},{"id":"63021fd0.2fa2c","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2590,"y":540,"wires":[["7a9192e3.e4378c"]]},{"id":"683cec3c.5cb164","type":"inject","z":"4af6b510.e9214c","name":"inject","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1970,"y":540,"wires":[["90a1ac30.bec2e"]]},{"id":"7a9192e3.e4378c","type":"bigsplitter","z":"4af6b510.e9214c","name":"","property":"payload.zones","x":2740,"y":540,"wires":[["9217b1f2.3bfb1"],[]]},{"id":"38d27255.c5390e","type":"function","z":"4af6b510.e9214c","name":"watering/log","func":"let zone_id = msg.payload;\nlet hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/watering/log?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":2150,"y":720,"wires":[["aacd6139.c6343"]]},{"id":"ea7889a.b9ea778","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2890,"y":720,"wires":[]},{"id":"aacd6139.c6343","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2410,"y":720,"wires":[["64e5f181.b9ae8"]]},{"id":"64e5f181.b9ae8","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2590,"y":720,"wires":[["621f4128.3bae6"]]},{"id":"d0a26e3d.4490a","type":"inject","z":"4af6b510.e9214c","name":"inject","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1970,"y":720,"wires":[["38d27255.c5390e"]]},{"id":"2173b12b.47754e","type":"bigsplitter","z":"4af6b510.e9214c","name":"","property":"payload.zones","x":2740,"y":720,"wires":[["ea7889a.b9ea778"],[]]},{"id":"621f4128.3bae6","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2730,"y":760,"wires":[]},{"id":"cb3f8310.db65e","type":"function","z":"4af6b510.e9214c","name":"zone","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/zone?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["f23b1adb.ce8878"]]},{"id":"54e4b7fc.335e18","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":540,"wires":[]},{"id":"f23b1adb.ce8878","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":590,"y":540,"wires":[["6fe0141.3d005ec"]]},{"id":"6fe0141.3d005ec","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":540,"wires":[["54e4b7fc.335e18"]]},{"id":"70874109.13baa","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":540,"wires":[["cb3f8310.db65e"]]},{"id":"381ed69d.973d0a","type":"function","z":"4af6b510.e9214c","name":"zone/properties","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/zone/properties?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[["e21be082.16d1f"]]},{"id":"9af911a5.264bd","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":480,"wires":[]},{"id":"e21be082.16d1f","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":590,"y":480,"wires":[["12c6bed5.3620b1"]]},{"id":"12c6bed5.3620b1","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":480,"wires":[["6ed6c9d.432d638"]]},{"id":"5a0efb56.4dabd4","type":"inject","z":"4af6b510.e9214c","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":480,"wires":[["381ed69d.973d0a"]]},{"id":"6ed6c9d.432d638","type":"change","z":"4af6b510.e9214c","name":"persist zones","rules":[{"t":"set","p":"zones","pt":"flow","to":"payload.zones","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["9af911a5.264bd"]]},{"id":"7a376a4e.2f7074","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"provision","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":1920,"wires":[["8ae5a3ec.f450f"]]},{"id":"8ae5a3ec.f450f","type":"function","z":"4af6b510.e9214c","name":"","func":"var token = flow.get('rainMachine_access_token');\nlet api = msg.payload\n\nmsg.url = 'https://10.0.0.205:8080/api/4/'+api+'?access_token='+token;\n\n\n\nmsg.method = 'GET'\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":1980,"wires":[["a9c70808.0bcb88"]]},{"id":"20f837a1.341458","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2770,"y":1980,"wires":[]},{"id":"a9c70808.0bcb88","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":2510,"y":1980,"wires":[["fa9bdead.1854f","f68c8411.844f98"]]},{"id":"fa9bdead.1854f","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":2650,"y":1980,"wires":[["20f837a1.341458"]]},{"id":"e2bb5d16.5e261","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"/watering/zone","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2140,"y":1980,"wires":[["8ae5a3ec.f450f"]]},{"id":"1c8ac80a.380468","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"/zone/simulate","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2140,"y":2040,"wires":[["8ae5a3ec.f450f"]]},{"id":"f68c8411.844f98","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2650,"y":1920,"wires":[]},{"id":"2fce098c.609346","type":"comment","z":"4af6b510.e9214c","name":"Zone Properties","info":"","x":160,"y":420,"wires":[]},{"id":"8aa7b2a8.3fff7","type":"function","z":"4af6b510.e9214c","name":"watering/zone","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/watering/zone?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":740,"wires":[["e9ab7fd9.820f8"]]},{"id":"8fb91256.123ec","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":740,"wires":[]},{"id":"e9ab7fd9.820f8","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":570,"y":740,"wires":[["1b678d0.4696673"]]},{"id":"1b678d0.4696673","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":750,"y":740,"wires":[["6076f6d8.c39cd8"]]},{"id":"dd281cc.92131e","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[["8aa7b2a8.3fff7"]]},{"id":"6076f6d8.c39cd8","type":"bigsplitter","z":"4af6b510.e9214c","name":"","property":"payload.zones","x":920,"y":740,"wires":[["8fb91256.123ec"],[]]},{"id":"4379d25e.77ad2c","type":"comment","z":"4af6b510.e9214c","name":"Watering Zone Status","info":"","x":160,"y":680,"wires":[]},{"id":"e022d186.7ba65","type":"comment","z":"4af6b510.e9214c","name":"Set IP Address","info":"","x":160,"y":60,"wires":[]},{"id":"dc6f2cfe.8c8e3","type":"function","z":"4af6b510.e9214c","name":"watering/log","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/watering/log/details/2020-04-25/1?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["a14e3a26.94c458"]]},{"id":"6e3a46a5.811148","type":"debug","z":"4af6b510.e9214c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":800,"wires":[]},{"id":"a14e3a26.94c458","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":570,"y":800,"wires":[["b5f774f5.50e848"]]},{"id":"b5f774f5.50e848","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":750,"y":800,"wires":[["6e3a46a5.811148"]]},{"id":"3652430.b55bebe","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":800,"wires":[["dc6f2cfe.8c8e3"]]},{"id":"e5e004a6.fe3e58","type":"function","z":"4af6b510.e9214c","name":"restrictions/currently","func":"let hostname = flow.get('rainMachine_ip');\nlet access_token = flow.get('rainMachine_access_token');\n\n\nmsg.url = 'https://'+hostname+':8080/api/4/restrictions/currently?access_token='+access_token;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["d861c07d.f0c55"]]},{"id":"d861c07d.f0c55","type":"http request","z":"4af6b510.e9214c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"c4d5781f.1b2858","persist":false,"proxy":"","authType":"","x":570,"y":860,"wires":[["cadbf5ee.e98388"]]},{"id":"cadbf5ee.e98388","type":"json","z":"4af6b510.e9214c","name":"","property":"payload","action":"","pretty":false,"x":750,"y":860,"wires":[["3b5c2ad4.488276"]]},{"id":"8e90c138.c76ac","type":"inject","z":"4af6b510.e9214c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":860,"wires":[["e5e004a6.fe3e58"]]},{"id":"2580a8c4.71fb78","type":"influxdb out","z":"48cd7f09.ee596","influxdb":"4b315826.435be8","name":"","measurement":"","precision":"","retentionPolicy":"","x":330,"y":2160,"wires":[]},{"id":"a609f41a.8d86c8","type":"link in","z":"48cd7f09.ee596","name":"irrigationRestrictionsInflux","links":["26bb0fd3.bff8f"],"x":155,"y":2160,"wires":[["f49418ee.457798","2580a8c4.71fb78"]]},{"id":"f49418ee.457798","type":"debug","z":"48cd7f09.ee596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":2220,"wires":[]},{"id":"3b5c2ad4.488276","type":"function","z":"4af6b510.e9214c","name":"Format for Influx","func":"let hourly = msg.payload.hourly;\nlet freeze = msg.payload.freeze;\nlet month = msg.payload.month;\nlet weekDay = msg.payload.weekDay;\nlet rainDelay = msg.payload.rainDelay;\nlet rainSensor = msg.payload.rainSensor;\nlet rainDelayCounter = msg.payload.rainDelayCounter;\nlet lastLeakDetected = msg.payload.lastLeakDetected;\n\nlet measurement = 'waterRestrictions';\n\nmsg.payload = [{\n    houlry: hourly,\n    freeze: freeze,\n    month: month,\n    weekDay: weekDay,\n    rainDelay: rainDelay,\n},\n{\n    controller: 'edgewood',\n}];\n\nmsg.measurement = measurement;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":860,"wires":[["26bb0fd3.bff8f"]]},{"id":"26bb0fd3.bff8f","type":"link out","z":"4af6b510.e9214c","name":"irrigationRestrictions","links":["a609f41a.8d86c8"],"x":1075,"y":860,"wires":[]}]